extends ../components/base/layout

block variables
  - const title = "ПОГНАЛИ?"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html"

block main
  main
    +hero()
    +about()
    +directions()
    +travelers()
    +profile()
    +interesting()
    +contacts()

block modals
