mixin about()
  .about(id="about")
    .container
      .about__content
        h2.about__title О сервисе
        p Любое путешествие веселее&thinsp;<br>с попутчиками, которые на&nbsp;одной волне с&nbsp;тобой! Делитесь своими идеями путешествий и&nbsp;черпайте вдохновение в&nbsp;чужих.
        span А&nbsp;если найдете кого-то близкого по духу&nbsp;&ndash; скорее&thinsp;<br>зовите в&nbsp;совместный трип!
        +btn({text: 'Подробнее', }).about__button
      .about__picture.about__picture--desktop
        +picture("content", "about-image-desktop", "png", 654, 665, "Карточки путешественников в мобильном телефоне")
      .about__picture.about__picture--tablet
        +picture("content", "about-image-tablet", "png", 368, 546, "Карточки путешественников в мобильном телефоне")
      .about__picture.about__picture--mobile
        +picture("content", "about-image-mobile", "png", 292, 353, "Карточки путешественников в мобильном телефоне")
