mixin contacts()
  .contacts
    .container
      h2 Адрес нашего офиса
      .contacts__nav-wrapper
        .contacts__nav
          .contacts__address-wrapper
            .contacts__icon
              +icon('icon-pin', 42, 42)
            address.contacts__address ул. Большая Конюшенная, 19/8
          +btn({text: 'Проложить маршрут', type: 'button'}).contacts__button
      .contacts__map-wrapper
        .contacts__picture.contacts__picture--desktop
          +picture('content', 'map-image-desktop', 'png', 1440, 584, 'Карта проезда к офису компании')
        .contacts__picture.contacts__picture--tablet
          +picture('content', 'map-image-tablet', 'png', 768, 581, 'Карта проезда к офису компании')
        .contacts__picture.contacts__picture--mobile
          +picture('content', 'map-image-mobile', 'png', 320, 424, 'Карта проезда к офису компании')
        .contacts__map-icon
          +icon('icon-map', 56, 56)
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.598942831907!2d30.320508377304133!3d59.938796862087294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5afc31%3A0xa24b26c0d196de71!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LCDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTkxMTg2!5e0!3m2!1sru!2sru!4v1759379264366!5m2!1sru!2sru", width="600", height="450", style="border:0;", allowfullscreen="", loading="lazy", referrerpolicy="no-referrer-when-downgrade", title="Карта проезда")
