mixin hero()
  .hero
    .container
      .hero__background.hero__background--desktop
        +picture("content", "back-image-desktop", "png", 1440, 750, "")
      .hero__background.hero__background--tablet
        +picture("content", "back-image-tablet", "png", 768, 906, "")
      .hero__background.hero__background--mobile
        +picture("content", "back-image-mobile", "png", 320, 626, "")
      h1.hero__title В путешествие с крутыми попутчиками!
      .hero__picture.hero__picture--desktop
        +picture("content", "main-image-desktop", "png", 431, 640, "Графически нарисованный путешественник с оранжевым чемоданом")
      .hero__picture.hero__picture--tablet
        +picture("content", "main-image-tablet", "png", 437, 530, "Графически нарисованный путешественник с оранжевым чемоданом")
      .hero__picture.hero__picture--mobile
        +picture("content", "main-image-mobile", "png", 192, 255, "Графически нарисованный путешественник с оранжевым чемоданом")
      ul.hero__list
        li.hero__item.hero__item--direction Выберите<br>направление
        li.hero__item.hero__item--ideas Изучите идеи<br>путешественников
        li.hero__item.hero__item--same Находите тех,<br>кто похож на вас
        li.hero__item.hero__item--together Путешествуйте<br>вместе!
