mixin interesting()
  .interesting
    .container
      h2.interesting__title Заинтересовались?
      p.interesting__description Зарегистрируйтесь, это быстро и бесплатно!&thinsp;<br>Уже зарегистрированы?&thinsp;<br>Тогда скорее&thinsp;
        a(href="#") авторизуйтесь
        span .
      form.interesting__form(action="https://echo.htmlacademy.ru/", method="post")
        label(aria-label="Введите Ваш e-mail", for="email")
        input(type="email", name="input-email", id="email", placeholder="E-mail")
        button.interesting__button.btn(type="submit")
          span.interesting__button-text Регистрация
          span.interesting__button-icon
            +icon("icon-arrow", 14, 14)
      p.interesting__quastions Остались вопросы?&thinsp;<br>Мы с радостью на них ответим!
      .interesting__feedback-wrapper
          a.interesting__feedback.interesting__feedback--call(href="tel:+78005558628", aria-label="Позвонить нам")
            span.interesting__feedback-content 8 800 555-86-28
            span.interesting__feedback-icon
              +icon("icon-call", 34, 34)
          a.interesting__feedback.interesting__feedback--mail(href="#", aria-label="Написать нам")
            span.interesting__feedback-content mail@htmlacademy.ru
            span.interesting__feedback-icon
              +icon("icon-mail", 39, 26)
