mixin profile()
  .profile
    .container
      h2.profile__title Добавьте свой профиль
      ul.profile__list
        li.profile__item
          span.profile__item-ellipse
            +icon('icon-ellipse', 72, 72)
          span.profile__item-title Базовое размещение
        li.profile__item
          span.profile__item-ellipse
            +icon('icon-ellipse', 72, 72)
          span.profile__item-title Вывод на первых позициях
        li.profile__item
          span.profile__item-ellipse
            +icon('icon-ellipse', 72, 72)
          span.profile__item-title Кастомный цвет карточки
      .profile__rates
        .profile__rates-cost
          h3 Бесплатно
          p 99 руб./мес
          p 59 руб./мес
        .profile__rates-image
          +picture('content', 'rates-image', 'png', 200, 202, ' ')
      button.profile__button(type="button") Показать тарифы для бизнеса
        span.profile__button-icon
          +icon('icon-man', 29, 28)
    .profile__bussiness-rates.profile__bussiness-rates--closed
      h2 Бизнес - тарифы
      dl
        .profile__bussiness-rates-description
          dt Реклама у блоггера
          dd 300 000 руб./пост
        .profile__bussiness-rates-description
          dt Накрутка подписчиков
          dd от 1 руб./шт.
        .profile__bussiness-rates-description
          dt Лайки от ботов
          dd от 20 коп./лайк
        .profile__bussiness-rates-description
          dt Ваш продакт-плейсмент
          dd Индивидуально
      button.profile__bussiness-rates-button(type="button") Закрыть окно
