mixin travelers()
  .travelers(id="folowers")
    .container
      .travelers__intro
        h2.travelers__title Попутчики
        p Все мы&nbsp;индивидуальны и&nbsp;у&nbsp;каждого свой взгляд на идеальный отдых.&thinsp;<br>Одному нужен пляж и&nbsp;коктейль, а&nbsp;другому маршрут для хайкинга.
        span Теперь можно легко найти единомышленников!
      ul.travelers__list
        +traveler-card('travelers', 'Таня Фирсова', '#ЗОЖ #ПП #Фитнес #пляж&thinsp;<br>#авокадо #смузи', {levelCounter: '99', image: 'card-image-one', height: '286', altText: 'Девушка в прозрачном водоёме с голубой водой', flags: ['flag-sri-lanka', 'flag-thailand', 'flag-seychelles'], flagsAlt: ['Флаг Шри-Ланки', 'Флаг Таиланда', 'Флаг Сейшельских Островов'], flagTexts: ['Шри-Ланка', 'Тайланд', 'Сейшелы']}).travelers__item--one
        +traveler-card('travelers', 'Петя Демин', '#бургер #бар #футбол&thinsp;<br>#концерт #крафт', {levelCounter: '80', image: 'card-image-two', height: '285', altText: 'Мужчина с бородой в шапке и в очках', flags: ['flag-belgium', 'flag-czech'], flagsAlt: ['Флаг Бельгии', 'Флаг Чехии'], flagTexts: ['Бельгия', 'Чехия']}).travelers__item--two
      ul.travelers__buttons
        li
          +btn({href: 'catalog.html', text: 'Показать всех', isExternal: true}).travelers__button
