.choice {
  width: size(285px);
  height: min-content;
  padding: size(47px) size(45px) size(48px) size(49px);
  background-color: $color-default-pattens-blue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  @include max-tablet {
    width: 100%;
  }

  @include tablet {
    padding: size-tablet(37px) size-tablet(36px) size-tablet(37px) size-tablet(34px);
    background-color: $color-default-pale-cornflower-blue;
    position: relative;
  }

  @include mobile {
    padding: size-mobile(26px) size-mobile(20px) size-mobile(22px);
  }

  &__title {
    font-size: size(30px);
    line-height: 1;
    color: $color-default-catalina-blue;
    margin: 0;
    margin-bottom: size(34px);

    @include tablet {
      font-size: size-tablet(30px);
      margin-bottom: size-tablet(34px);
      display: flex;
      flex-direction: column;
      position: relative;

      &::after {
        content: " ";
        display: block;
        width: 100%;
        height: size-tablet(1px);
        background-color: $color-tablet-line;
        margin-top: size-tablet(37px);
      }
    }

    @include mobile {
      font-size: size-mobile(22px);
      letter-spacing: 0.4px;
      margin-bottom: size-mobile(22px);
      margin-left: size-mobile(5px);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include mobile {
      margin-left: size-mobile(5px);
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    @include tablet {
      display: grid;
      grid-template-columns: size-tablet(124px) min-content;
      column-gap: size-tablet(4px);
      align-items: flex-start;
    }

    h3 {
      width: 100%;
      font-size: size(20px);
      line-height: 1;
      font-weight: inherit;
      text-transform: uppercase;
      color: $color-default-catalina-blue;
      display: flex;
      justify-content: space-between;
      margin: 0;
      margin-bottom: size(23px);
      transition: all 0.2s ease;

      @include tablet {
        width: unset;
        font-size: size-tablet(20px);
        display: inline;
        margin: 0;
        margin-top: size-tablet(4px);
      }

      @include mobile {
        width: size-mobile(220px);
        font-size: size-mobile(16px);
        line-height: 1.13;
        margin: 0;
        padding-top: size-mobile(12px);
        padding-bottom: size-mobile(9px);
        border-top: 1px solid $color-tablet-line;
      }
    }

    &:has(.choice__button-filter:hover),
    &:has(.choice__button-filter:focus) {
      h3 {
        color: rgba(29, 46, 91, 0.6);
        transition: all 0.2s ease;
      }
    }

    &:has(.choice__button-filter:active) {
      h3 {
        color: rgba(29, 46, 91, 0.3);
      }
    }
  }

  &__fieldset--transport,
  &__fieldset--range {
    @include desktop {
      h3 {
        margin-bottom: size(17px);
      }
    }
  }

  &__fieldset--transport {
    @include tablet {
      margin-bottom: size-tablet(17px);

      h3 {
        margin-top: size-tablet(16px);
      }
    }

    @include mobile {
      row-gap: size-mobile(5px);
    }
  }

  &__fieldset--range {
    @include tablet {
      column-gap: 0;

      h3 {
        margin-top: size-tablet(14px);
      }
    }

    @include mobile {
      margin-bottom: size-mobile(14px);
    }
  }

  &__button-filter {
    width: size(22px);
    height: size(22px);
    background-color: transparent;
    border: none;
    margin-top: size(-2px);
    margin-right: size(-7px);
    padding: size(8px) size(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;

    @include tablet {
      display: none;
    }

    @include mobile {
      width: size-mobile(14px);
      height: size-mobile(14px);
    }

    svg {
      width: size(10px);
      height: size(6px);

      @include mobile {
        width: size-mobile(10px);
        height: size-mobile(6px);
      }
    }

    &:hover,
    &:focus {
      color: rgba(29, 46, 91, 0.6);
      transition: all 0.2s ease;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }
  }

  &__fieldset:has(.choice__labels--opened) &__button-filter svg {
    transform: rotate(180deg);
  }

  &__fieldset:nth-child(5n+2) &__labels {
    @include tablet {
      margin-bottom: size-tablet(23px);
    }
  }

  &__fieldset:nth-child(5n+2) &__labels--opened {
    @include mobile {
      justify-content: center;
    }
  }

  &__fieldset:nth-child(5n+3) &__labels {
    @include tablet {
      margin-bottom: size-tablet(21px);
    }
  }

  &__labels--closed {
    display: none;

    @include tablet {
      display: grid;
      grid-template-columns: size-tablet(161px) size-tablet(163px) max-content;
      column-gap: size-tablet(8px);
      margin-bottom: size-tablet(25px);
    }
  }

  &__labels--opened {
    display: flex;
    flex-direction: column;
    row-gap: size(13px);
    margin-bottom: size(31px);

    @include tablet {
      display: grid;
      grid-template-columns: size-tablet(161px) size-tablet(163px) max-content;
      row-gap: unset;
      column-gap: size-tablet(8px);
      margin-bottom: size-tablet(25px);
    }

    @include mobile {
      row-gap: size-mobile(12px);
      margin-top: size-mobile(3px);
      margin-bottom: size-mobile(20px);
    }
  }

  &__labels--level {
    row-gap: size(28px);
    margin-bottom: size(10px);

    @include tablet {
      display: flex;
      margin-bottom: size-tablet(36px);
      flex-direction: row-reverse;
      row-gap: unset;
      column-gap: size-tablet(59px);
      align-items: center;
    }

    @include mobile {
      row-gap: size-mobile(15px);
    }
  }

  &__check-label {
    display: grid;
    grid-template-columns: size(7px) min-content size(6px) size(13px) max-content;
    grid-template-rows: size(6px) min-content size(7px);
    justify-content: flex-start;
    align-items: flex-end;

    @include tablet {
      grid-template-columns: size-tablet(7px) min-content size-tablet(6px) size-tablet(12px) max-content;
      grid-template-rows: size-tablet(6px) min-content size-tablet(7px);
    }

    @include mobile {
      grid-template-columns: size-mobile(5px) min-content size-mobile(5px) size-mobile(9px) max-content;
      grid-template-rows: size-mobile(5px) min-content size-mobile(5px);
    }

    &:has(.choice__checkbox:not(:disabled):hover) .choice__check-description,
    &:has(.choice__checkbox:not(:disabled):focus) .choice__check-description {
      opacity: 0.6;
    }

    &:has(.choice__checkbox:not(:disabled):active) .choice__check-description {
      opacity: 0.3;
    }

    &:has(.choice__checkbox:disabled) .choice__check-description {
      opacity: 0.2;
      cursor: default;
    }
  }

  &__check-description {
    max-width: size(144px);
    font-size: size(20px);
    line-height: 1;
    font-weight: 400;
    color: $color-default-black;
    margin: 0;
    grid-column: 5 / 6;
    grid-row: 2 / 4;
    cursor: pointer;

    @include tablet {
      max-width: size-tablet(131px);
      font-size: size-tablet(20px);
    }

    @include mobile {
      max-width: size-mobile(163px);
      font-size: size-mobile(15px);
      line-height: 1.33;
      margin-bottom: size-mobile(-6px);
      grid-row: 1 / 4;
    }
  }

  &__checkbox {
    appearance: none;
    width: size(24px);
    height: size(24px);
    background-color: $color-default-white;
    border: none;
    border-radius: 4px;
    grid-column: 1 / 4;
    grid-row: 1 / -1;
    cursor: pointer;
    transition: all 0.2s ease;

    @include tablet {
      width: size-tablet(24px);
      height: size-tablet(24px);
    }

    @include mobile {
      width: size-mobile(18px);
      height: size-mobile(18px);
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: rgba(255, 255, 255, 0.6);
      transition: all 0.2s ease;
    }

    &:active:not(:disabled) {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: default;
    }
  }

  &__check-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    svg {
      display: none;
    }
  }

  &__checkbox:checked ~ &__check-wrapper svg {
    width: size(11px);
    height: size(11px);
    display: block;

    @include tablet {
      width: size-tablet(11px);
      height: size-tablet(11px);
    }

    @include mobile {
      width: size-mobile(8px);
      height: size-mobile(8px);
    }
  }

  &__labels--transport {
    flex-direction: row;
    column-gap: size(1px);
    margin-bottom: size(37px);

    @include tablet {
      display: flex;
      column-gap: size-tablet(2px);
      margin: 0;
    }

    @include mobile {
      column-gap: size-mobile(3px);
      margin-bottom: size-mobile(19px);
    }

    span {
      width: size(23px);
      height: size(23px);
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet {
        width: size-tablet(23px);
        height: size-tablet(22px);
      }

      @include mobile {
        width: size-mobile(17px);
        height: size-mobile(16px);
      }

      svg {
        width: size(23px);
        height: size(22px);

        @include tablet {
          width: size-tablet(23px);
          height: size-tablet(22px);
        }

        @include mobile {
          width: size-mobile(17px);
          height: size-mobile(17px);
        }
      }
    }
  }

  &__transport {
    display: grid;
    grid-template-columns: size(10px) min-content size(10px);
    grid-template-rows: size(10px) min-content size(10px);

    @include tablet {
      grid-template-columns: size-tablet(10px) min-content size-tablet(10px);
      grid-template-rows: size-tablet(10px) min-content size-tablet(10px);
    }

    @include mobile {
      grid-template-columns: size-mobile(7px) min-content size-mobile(7px);
      grid-template-rows: size-mobile(7px) min-content size-mobile(7px);
    }
  }

  &__checkbox-transport {
    appearance: none;
    width: size(43px);
    height: size(43px);
    background-color: $color-default-white;
    border-radius: 50%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    cursor: pointer;
    transition: all 0.2s ease;

    @include tablet {
      width: size-tablet(43px);
      height: size-tablet(43px);
    }

    @include mobile {
      width: size-mobile(31px);
      height: size-mobile(31px);
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: rgba(255, 255, 255, 0.6);
      transition: all 0.2s ease;
    }

    &:active:not(:disabled) {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: default;
    }
  }

  &__checkbox-transport:checked ~ &__icon {
    color: $color-default-catalina-blue;
  }

  &__checkbox-transport:hover ~ &__icon,
  &__checkbox-transport:focus ~ &__icon {
    opacity: 0.8;
  }

  &__checkbox-transport:active ~ &__icon {
    opacity: 0.6;
  }

  &__checkbox-transport:disabled ~ &__icon {
    opacity: 0.3;
  }

  &__icon {
    color: rgba(29, 46, 91, 0.15);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    cursor: pointer;
  }

  &__inputs-wrapper {
    width: size(192px);
    min-height: size(46px);
    border: 0.5px solid $color-default-link-water;
    border-radius: 4px;
    display: flex;
    position: relative;

    @include tablet {
      width: size-tablet(148px);
      min-height: size-tablet(46px);
      margin-top: size-tablet(-2px);
    }

    @include mobile {
      width: size-mobile(220px);
    }

    &::before,
    &::after {
      content: " ";
      display: block;
      width: size(20px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include tablet {
        width: size-tablet(20px);
      }

      @include mobile {
        width: size-mobile(16px);
      }
    }

    &::before {
      height: size(20px);
      background-color: $color-default-white;

      @include tablet {
        height: size-tablet(15px);
      }

      @include mobile {
        height: size-mobile(12px);
      }
    }

    &::after {
      height: size(1px);
      background-color: $color-default-link-water;

      @include tablet {
        height: size-tablet(1px);
      }

      @include mobile {
        height: size-mobile(1px);
      }
    }
  }

  &__input {
    width: size(95px);
    height: 100%;
    font-size: size(20px);
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: center;
    padding: size(4px) size(10px) 0 size(14px);
    border: 0.5px solid $color-default-link-water;
    color: $color-default-catalina-blue;
    transition: all 0.2s ease;

    @include tablet {
      width: size-tablet(74px);
      font-size: size-tablet(20px);
      padding: size-tablet(4px) size-tablet(10px) 0 size-tablet(14px);
    }

    @include mobile {
      width: size-mobile(109px);
      font-size: size-mobile($fz-mobile);
      letter-spacing: 1px;
      padding: size-mobile(8px) size-mobile(10px) size-mobile(6px) size-mobile(14px);
    }

    &:hover,
    &:focus {
      border-color: $color-level-hover;
      transition: all 0.2s ease;
    }

    &:active {
      border-color: $color-default-midnight-express-3;
    }
  }

  &__input--from {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }

  &__input--to {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__input::placeholder {
    color: rgba(29, 46, 91, 0.8);
  }

  &__slider {
    margin: 0 0 size(24px);
    padding-left: size(18px);
    overflow: hidden;
    position: relative;
    // z-index: 0;

    @include tablet {
      width: size-tablet(285px);
      margin: 0;
      padding-left: size-tablet(25px);
    }

    @include mobile {
      width: size-mobile(220px);
      margin: 0;
      padding-left: size-mobile(16px);
    }
  }

  &__base {
    height: size(22px);
    position: relative;
    // z-index: 1;
    left: size(-15px);

    @include tablet {
      height: size-tablet(22px);
      left: size-tablet(-14px);
    }

    @include mobile {
      height: size-mobile(16px);
      left: size-mobile(-14px);
    }

    &::before {
      content: "";
      width: size(192px);
      height: size(2px);
      position: absolute;
      top: size(9px);
      bottom: 0;
      background-color: rgba(29, 46, 91, 0.2);
      // z-index: 1;

      @include tablet {
        width: size-tablet(280px);
        height: size-tablet(2px);
        top: size-tablet(8px);
      }

      @include mobile {
        width: size-mobile(214px);
        top: size-mobile(8px);
      }
    }
  }

  &__connect {
    width: 100%;
    position: absolute;
    top: size(9px);
    height: 2px;
    background-color: $color-default-catalina-blue;
    transform-origin: 0 0;
    // z-index: 2;

    @include tablet {
      top: size-tablet(8px);
    }

    @include mobile {
      top: size-mobile(8px);
    }
  }

  &__origin {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
  }

  &__handle {
    position: absolute;
    width: size(13px);
    height: size(13px);
    top: size(3px);
    background-color: $color-default-catalina-blue;
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
    // z-index: 3;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;

    @include tablet {
      width: size-tablet(13px);
      height: size-tablet(13px);
      top: size-tablet(3px);
    }

    @include mobile {
      width: size-mobile(10px);
      height: size-mobile(10px);
      top: size-mobile(4px);
    }

    &::before {
      content: "";
      opacity: 0;
      position: absolute;
      width: size(19px);
      height: size(19px);
      border-radius: 50%;
      background-color: $color-default-catalina-blue;
      top: size(-3px);
      left: size(-4px);
      transition: 0.2s ease-in;
      // z-index: 0;

      @include tablet {
        width: size-tablet(19px);
        height: size-tablet(19px);
        top: size-tablet(-3px);
        left: size-tablet(-4px);
      }

      @include mobile {
        width: size-mobile(16px);
        height: size-mobile(16px);
        top: size-mobile(-4px);
      }
    }

    &:is(:hover, :focus) {
      transition: all 0.2s ease;

      &::before {
        opacity: 1;
      }
    }

    &:is(:active)::before {
      opacity: 1;
      box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.24);
    }
  }

  &__button {
    width: 100%;
    font-size: size(20px);
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-default-catalina-blue;
    background-color: $color-default-white;
    border: none;
    border-radius: 30px;
    padding: size(16px) size(17px) size(12px) size(24px);
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;

    @include tablet {
      font-size: size-tablet(20px);
      border-radius: 25px;
      margin-top: size-tablet(36px);
      padding: size-tablet(18px) size-tablet(18px) size-tablet(12px);

      &::before {
        content: " ";
        display: block;
        width: 100%;
        height: size-tablet(1px);
        background-color: $color-tablet-line;
        position: absolute;
        top: size-tablet(-37px);
        left: 0;
      }
    }

    @include mobile {
      width: size-mobile(230px);
      font-size: size-mobile(17px);
      margin-left: size-mobile(-5px);
      padding: size-mobile(15px) size-mobile(70px) size-mobile(9px);
      border-radius: 25px;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
      transition: all 0.2s ease;
    }

    &:active {
      box-shadow: none;
      color: rgba(22, 28, 53, 0.3);
      background-color: $color-default-picton-blue;
    }
  }
}
