.companions {
  padding: size(40px) size(60px) size(145px) size(60px);
  background-color: $color-default-solitude;

  @include tablet {
    padding: size-tablet(96px) size-tablet(40px) size-tablet(130px);
    margin-top: size-tablet(-53px);
  }

  @include mobile {
    padding: size-mobile(45px) size-mobile(25px) size-mobile(94px);
    margin-top: size-mobile(-24px);
  }

  .container {
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: size(83px);

    @include max-tablet {
      flex-direction: column-reverse;
      column-gap: unset;
    }

    @include tablet {
      row-gap: size-tablet(42px);
    }

    @include mobile {
      row-gap: size-mobile(28px);
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: size(53px);

    @include tablet {
      row-gap: size-tablet(36px);
    }

    @include mobile {
      row-gap: size-mobile(10px);
    }
  }

  &__cards-title {
    position: fixed;
    transform: scale(0);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: size(31px);

    @include tablet {
      row-gap: size-tablet(39px);
    }

    @include mobile {
      // Высота для теста PP при кривом макете
      min-height: size-mobile(1650px);
      row-gap: size-mobile(10px);
    }
  }

  &__item {
    max-width: size(951px);
    padding-right: size(50px);
    background-color: $color-default-white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: min-content size(168px) min-content size(170px) min-content;
    grid-template-rows: size(47px) min-content size(22px) size(22px) min-content size(47px);
    cursor: pointer;

    @include max-tablet {
      &::after {
        content: " ";
        display: block;
        width: 100%;
        height: size-tablet(1px);
        background-color: $color-default-solitude;
        position: absolute;
        z-index: 0;
      }
    }

    @include tablet {
      max-width: size-tablet(688px);
      padding: size-tablet(35px) size-tablet(25px) size-tablet(25px) size-tablet(35px);
      grid-template-columns: size-tablet(36px) min-content size-tablet(30px) size-tablet(29px) size-tablet(170px) min-content size-tablet(61px) min-content;
      grid-template-rows: min-content min-content size-tablet(5px) size-tablet(15px) min-content size-tablet(19px) min-content;
      position: relative;

      &::after {
        top: 77%;
      }
    }

    @include mobile {
      max-width: size-mobile(270px);
      padding: size-mobile(15px) size-mobile(22px) size-mobile(23px) size-mobile(18px);
      grid-template-columns: size-mobile(49px) min-content min-content;
      grid-template-rows: repeat(5, min-content);
      row-gap: size-mobile(12px);
      position: relative;

      &::before {
        content: " ";
        display: block;
        width: 100%;
        height: size-mobile(1px);
        background-color: $color-default-solitude;
        position: absolute;
        top: 67%;
        z-index: 0;
      }

      &::after {
        top: size-mobile(156px);
      }
    }

    &:hover,
    &:focus {
      box-shadow: 0 4px 20px 0 rgba(255, 254, 254, 0.5);
      transform: scale(1.01);
      transition: all 0.3s ease;
    }
  }

  &__item:nth-child(4n+1) {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);

    @include mobile {
      min-height: size-mobile(416px);
    }
  }

  &__item:nth-child(4n+2) {
    @include tablet {
      grid-template-rows: min-content min-content size-tablet(5px) size-tablet(12px) min-content size-tablet(19px) min-content;
    }

    @include mobile {
      &::before {
        top: 65%;
      }
    }
  }

  &__item:nth-child(4n+3) {
    @include desktop {
      grid-template-rows: size(47px) min-content size(18px) size(22px) min-content size(47px);
    }

    @include tablet {
      grid-template-rows: min-content min-content size-tablet(10px) size-tablet(13px) min-content size-tablet(19px) min-content;
    }

    @include mobile {
      &::before {
        top: 67.6%;
      }
    }
  }

  &__item:nth-child(4n+4) {
    @include desktop {
      grid-template-rows: size(46px) min-content size(1px) size(20px) min-content size(47px);
    }

    @include tablet {
      grid-template-rows: min-content min-content size-tablet(10px) size-tablet(13px) min-content size-tablet(19px) min-content;
    }

    @include mobile {
      grid-template-rows: repeat(5, min-content);

      &::before {
        top: 65%;
      }
    }
  }

  &__item-info {
    min-width: size(250px);
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    row-gap: size(20px);
    margin-right: size(101px);

    @include tablet {
      min-width: size-tablet(290px);
      grid-column: 5 / 7;
      grid-row: 1 / 2;
      row-gap: size-tablet(19px);
      margin: 0;
    }

    @include mobile {
      min-width: size-mobile(230px);
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      row-gap: 0;
      margin: 0;
    }

    h3 {
      font-size: size(30px);
      line-height: 1;
      color: $color-default-catalina-blue;
      margin: 0;
      display: flex;
      column-gap: size(18px);
      align-items: center;
      margin-left: size(-1px);

      @include tablet {
        font-size: size-tablet(30px);
        flex-direction: row-reverse;
        column-gap: size-tablet(22px);
        margin-left: size-tablet(4px);
        align-self: flex-start;
      }

      @include mobile {
        font-size: size-mobile(20px);
        flex-direction: row-reverse;
        justify-content: space-between;
        column-gap: size-mobile(10px);
        margin-left: size-mobile(86px);
        margin-bottom: size-mobile(43px);
      }

      br {
        @include tablet-etalon {
          display: none;
        }
      }

      &::before {
        content: "";
        display: block;
        min-width: size(8px);
        height: size(8px);
        border-radius: 50%;

        @include tablet {
          min-width: size-tablet(8px);
          height: size-tablet(8px);
        }

        @include mobile {
          min-width: size-mobile(6px);
          height: size-mobile(6px);
          margin-top: size-mobile(-18px);
          margin-right: size-mobile(12px);
        }
      }
    }

    p {
      width: size(226px);
      font-size: size(20px);
      line-height: 1.15;
      font-weight: 400;
      color: $color-default-black;
      margin: 0;
      margin-left: size(26px);

      @include tablet {
        width: size-tablet(226px);
        font-size: size-tablet(20px);
        margin-left: size-tablet(7px);
        margin-bottom: size-tablet(20px);
      }

      @include mobile {
        width: size-mobile(224px);
        font-size: size-mobile(15px);
        line-height: 1.2;
        margin-bottom: size-mobile(3px);
        margin-left: size-mobile(7px);
      }
    }
  }

  &__item:nth-child(4n+2) &__item-info p {
    @include mobile {
      margin-bottom: size-mobile(4px);
    }
  }

  &__item:nth-child(4n+1) h3,
  &__item:nth-child(4n+2) h3,
  &__item:nth-child(4n+3) h3 {
    &::before {
      background-color: $color-default-salmon;
    }
  }

  &__item:nth-child(4n+2) h3 {
    @include tablet {
      &::before {
        display: none;
      }
    }
  }

  &__item:nth-child(4n+4) h3 {
    &::before {
      background-color: $color-default-lown-green;
    }
  }

  &__item-level {
    width: size(60px);
    height: size(60px);
    background-color: transparent;
    border-radius: 50%;
    grid-column: 5 / 6;
    grid-row: 4 / 6;
    display: grid;
    grid-template-columns: size(17px) min-content size(15px);
    grid-template-rows: size(18px) min-content min-content size(7px);
    margin-top: size(-10px);
    margin-left: size(-5px);

    @include tablet {
      width: size-tablet(60px);
      height: size-tablet(60px);
      grid-column: 8 / 9;
      grid-row: 2 / 4;
      grid-template-columns: size-tablet(17px) min-content min-content size-tablet(14px);
      grid-template-rows: size-tablet(11px) min-content min-content size-tablet(7px);
    }

    @include mobile {
      width: size-mobile(65px);
      height: size-mobile(65px);
      border-radius: 0;
      margin: 0;
      grid-column: 3 / 4;
      grid-row: 4 / 5;
      grid-template-columns: size-mobile(10px) size-mobile(2px) min-content size-mobile(7px) size-mobile(9px);
      grid-template-rows: min-content size-mobile(10px) size-mobile(11px) min-content size-mobile(14px);
    }

    h3 {
      @include tablet-etalon {
        display: none;
      }

      width: size-mobile(63px);
      font-size: size-mobile($fz-mobile);
      line-height: 1.14;
      font-weight: 400;
      text-transform: lowercase;
      text-align: center;
      background-color: $color-default-white;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      margin: 0;
      position: relative;
      z-index: 1;
    }

    p {
      font-size: size($fz-default);
      line-height: 1;
      font-weight: 700;
      color: $color-default-catalina-blue;
      text-decoration: underline;
      text-decoration-color: rgba(0, 0, 0, 0.1);
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
      margin: 0;
      margin-bottom: size(2px);
      justify-self: center;
      grid-column: 2 / 3;
      grid-row: 2 / 3;

      @include tablet {
        font-size: size-tablet($fz-default);
        line-height: 0.9;
        margin-bottom: 0;
      }

      @include mobile {
        font-size: size-mobile($fz-default);
        text-decoration: none;
        grid-column: 3 / 4;
        grid-row: 4 / 5;
      }
    }

    span {
      font-size: size($fz-mobile);
      line-height: 1;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.4);
      justify-self: center;
      grid-column: 2 / 3;
      grid-row: 3 / 4;

      @include tablet {
        font-size: size-tablet($fz-mobile);
      }

      @include mobile {
        display: none;
      }
    }

    svg {
      width: size(73px);
      height: size(73px);
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      justify-self: center;
      align-self: center;

      @include tablet {
        width: size-tablet(72px);
        height: size-tablet(72px);
        margin-top: size-tablet(-10px);
        margin-left: size-tablet(-5px);
      }

      @include mobile {
        width: size-mobile(52px);
        height: size-mobile(52px);
        margin-top: size-mobile(-9px);
        margin-left: size-mobile(-4px);
        grid-column: 2 / 5;
        grid-row: 3 / 6;
      }

      circle {
        stroke: $color-default-picton-blue;
        stroke-width: 2;
        stroke-dashoffset: 24;
        stroke-dasharray: var(--percent), calc(100 - var(--percent));
        stroke-linecap: round;

        @include max-tablet {
          stroke: $color-level-circle;
        }
      }
    }
  }

  &__item:nth-child(4n+1) &__item-level {
    svg {
      --percent: 94;

      @include tablet {
        --percent: 95;
      }
    }
  }

  &__item:nth-child(4n+2) &__item-level {
    margin-top: size(13px);
    margin-bottom: size(-11px);

    @include tablet {
      grid-template-rows: size-tablet(8px) min-content min-content size-tablet(7px);
    }

    @include mobile {
      margin: 0;
      margin-top: size-mobile(1px);
    }

    svg {
      --percent: 80;

      @include tablet {
        margin-top: size-tablet(-13px);
      }
    }
  }

  &__item:nth-child(4n+3) &__item-level {
    margin-top: size(14px);

    svg {
      --percent: 25;
    }

    @include tablet {
      margin-top: size-tablet(-2px);
      margin-left: size-tablet(-2px);
    }

    @include mobile {
      margin-top: 0;
    }
  }

  &__item:nth-child(4n+4) &__item-level {
    margin-top: size(12px);

    @include tablet {
      margin-top: size-tablet(-3px);
    }

    svg {
      --percent: 50;
    }

    @include mobile {
      margin: 0;
    }
  }

  &__item-image {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-right: size(36px);
  }

  &__item-image--main {
    width: size(285px);
    height: 100%;

    img {
      width: size(285px);
      height: 100%;
      object-fit: contain;

      @include mobile {
        width: size-mobile(70px);
        border-radius: 50%;
      }
    }

    @include tablet {
      display: none;
    }

    @include mobile {
      width: size-mobile(70px);
      height: size-mobile(70px);
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__item-image--tablet {
    @include desktop {
      display: none;
    }

    width: size-tablet(190px);
    height: size-tablet(190px);
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    margin: 0;
    margin-top: size-tablet(1px);

    img {
      width: size-tablet(190px);
      height: size-tablet(190px);
    }

    @include mobile {
      display: none;
    }
  }

  &__item-icons {
    grid-column: 4 / 5;
    grid-row: 5 / 6;

    @include tablet {
      grid-column: 8 / 9;
      grid-row: 1 / 2;
    }

    @include mobile {
      grid-column: 1 / 3;
      grid-row: 4 / 5;
      display: flex;
      flex-direction: column;
      row-gap: size-mobile(14px);
      margin-right: size-mobile(41px);
      margin-bottom: size-mobile(5px);
    }

    h4 {
      @include tablet-etalon {
        display: none;
      }

      width: size-mobile(78px);
      font-size: size-mobile($fz-mobile);
      line-height: 1.14;
      font-weight: 400;
      text-transform: lowercase;
      text-align: right;
      background-color: $color-default-white;
      margin: 0;
      position: relative;
      z-index: 1;
    }
  }

  &__item:nth-child(4n+1) &__item-icons {
    margin-bottom: 0;
  }

  &__item:nth-child(4n+2) &__item-icons {
    @include mobile {
      margin-right: size-mobile(41px);
      row-gap: size-mobile(18px);
    }
  }

  &__item:nth-child(4n+2) &__item-icons h4 {
    @include mobile {
      width: size-mobile(80px);
    }
  }

  &__item-icons-wrapper {
    display: flex;
    justify-content: center;
    column-gap: size(8px);
    align-self: center;
    margin-top: size(-10px);
    margin-right: size(52px);

    @include tablet {
      flex-direction: column;
      column-gap: unset;
      row-gap: size-tablet(7px);
      margin: 0;
      margin-bottom: size-tablet(22px);
      padding-top: size-tablet(5px);
      align-items: center;
    }

    @include mobile {
      column-gap: size-mobile(1px);
      align-self: flex-start;
      margin: 0;
    }
  }

  &__item:nth-child(4n+2) &__item-icons-wrapper {
    margin: size(12px) size(42px) 0 size(-7px);

    @include tablet {
      margin: 0;
      margin-bottom: size-tablet(14px);
    }

    @include mobile {
      margin: 0;
    }
  }

  &__item:nth-child(4n+3) &__item-icons-wrapper {
    margin: size(13px) size(42px) 0 size(-7px);
    column-gap: size(10px);

    @include tablet {
      margin: 0;
      margin-bottom: size-tablet(19px);
    }

    @include mobile {
      margin: 0;
      column-gap: size-mobile(2px);
    }
  }

  &__item:nth-child(4n+4) &__item-icons-wrapper {
    margin: size(13px) size(32px) 0 size(-19px);

    @include tablet {
      margin: 0;
      margin-bottom: size-tablet(21px);
    }

    @include mobile {
      margin: 0;
    }
  }

  &__item-icon-wrapper {
    position: relative;
    cursor: pointer;
    transition: all 0.2s ease;

    @include mobile {
      width: size-mobile(32px);
      height: size-mobile(32px);
      background-color: $color-default-solitude;
      border-radius: 50%;
      margin-left: size-mobile(3px);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover,
    &:active {
      transition: all 0.2s ease;

      .companions__item-tooltip {
        display: block;
      }
    }
  }

  &__item-icon {
    color: rgba(29, 46, 91, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      color: currentColor;
    }
  }

  &__item-tooltip {
    display: none;
    font-size: size(20px);
    line-height: 1;
    font-weight: 400;
    color: $color-default-white;
    background-color: $color-default-midnight-express-3;
    border-radius: 4px;
    padding: size(18px) size(14px);
    position: absolute;
    top: size(40px);
    transition: all 0.2s ease;

    @include tablet {
      font-size: size-tablet(20px);
      padding: size-tablet(18px) size-tablet(14px);
      top: size-tablet(40px);
    }

    @include mobile {
      font-size: size-mobile($fz-mobile);
      padding: size-mobile(10px) size-mobile(14px);
      top: size-mobile(40px);
    }

    svg {
      width: size(16px);
      height: size(10px);
      transform: translateX(-50%) rotate(180deg);
      position: absolute;
      top: size(-7px);
      left: 50%;

      @include tablet {
        width: size-tablet(16px);
        height: size-tablet(10px);
        top: size-tablet(-7px);
      }

      @include mobile {
        width: size-mobile(16px);
        height: size-mobile(10px);
        top: size-mobile(-6px);
      }
    }
  }

  &__item-tooltip-icon {
    color: $color-default-midnight-express-3;
  }

  &__item-icon-wrapper--plane &__item-tooltip {
    left: size(-65px);

    @include tablet {
      left: size-tablet(-66px);
    }

    @include mobile {
      left: size-mobile(-41px);
    }
  }

  &__item-icon-wrapper--bus &__item-tooltip {
    left: size(-76px);

    @include tablet {
      left: size-tablet(-76px);
    }

    @include mobile {
      left: size-mobile(-48px);
    }
  }

  &__item-icon-wrapper--bicycle &__item-tooltip {
    left: size(-53px);

    @include tablet {
      left: size-tablet(-53px);
    }

    @include mobile {
      left: size-mobile(-35px);
    }
  }

  &__item-icon-wrapper--run &__item-tooltip {
    left: size(-42px);

    @include tablet {
      left: size-tablet(-42px);
    }

    @include mobile {
      left: size-mobile(-26px);
    }
  }

  &__item:nth-child(4n+1) &__item-icon-wrapper--plane {
    margin-right: size(5px);

    @include mobile {
      margin-right: size-mobile(-5px);
    }

    .companions__item-icon {
      color: $color-default-catalina-blue;
      margin-right: 0;
    }
  }

  &__item:nth-child(4n+1) &__item-icon-wrapper--bus {
    margin-right: size(3px);

    @include mobile {
      margin-right: size-mobile(-2px);
    }
  }

  &__item:nth-child(4n+1) &__item-icon-wrapper:not(.companions__item-icon-wrapper--plane) &__item-icon {
    color: rgba(29, 46, 91, 0.15);
  }

  &__item:nth-child(4n+2) &__item-icon-wrapper--plane {
    margin-right: size(5px);

    @include mobile {
      margin-right: size-mobile(-3px);
    }
  }

  &__item:nth-child(4n+2) &__item-icon-wrapper--bus {
    margin-right: size(5px);

    @include mobile {
      margin-right: size-mobile(-4px);
    }
  }

  &__item:nth-child(4n+2) &__item-icon-wrapper--bicycle &__item-icon {
    color: rgba(29, 46, 91, 0.15);
  }

  &__item:nth-child(4n+2) &__item-icon-wrapper:not(.companions__item-icon-wrapper--bicycle) &__item-icon {
    color: $color-default-catalina-blue;
  }

  &__item:nth-child(4n+3) &__item-icon-wrapper--plane &__item-icon,
  &__item:nth-child(4n+3) &__item-icon-wrapper--bicycle &__item-icon {
    color: $color-default-catalina-blue;
  }

  &__item:nth-child(4n+3) &__item-icon-wrapper--plane {
    margin-right: size(3px);
  }

  &__item:nth-child(4n+3) &__item-icon-wrapper--bus &__item-icon,
  &__item:nth-child(4n+3) &__item-icon-wrapper--run &__item-icon {
    color: rgba(29, 46, 91, 0.15);
  }

  &__item:nth-child(4n+4) &__item-icon-wrapper--plane &__item-icon,
  &__item:nth-child(4n+4) &__item-icon-wrapper--bus &__item-icon {
    color: $color-default-catalina-blue;
  }

  &__item:nth-child(4n+4) &__item-icon-wrapper--plane {
    margin-right: size(5px);
  }

  &__item:nth-child(4n+4) &__item-icon-wrapper--bus {
    margin-right: size(3px);
  }

  &__item:nth-child(4n+4) &__item-icon-wrapper--bicycle &__item-icon,
  &__item:nth-child(4n+4) &__item-icon-wrapper--run &__item-icon {
    color: rgba(29, 46, 91, 0.15);
  }

  &__item &__item-icon-wrapper--plane &__item-icon {
    @include tablet {
      width: size-tablet(22px);
      height: size-tablet(22px);
      margin-bottom: size-tablet(4px);
    }

    svg {
      width: size(22px);
      height: size(22px);

      @include tablet {
        width: size-tablet(22px);
        height: size-tablet(22px);
      }

      @include mobile {
        width: size-mobile(16px);
        height: size-mobile(18px);
      }
    }
  }

  &__item &__item-icon-wrapper--bus &__item-icon {
    @include tablet {
      width: size-tablet(18px);
      height: size-tablet(20px);
    }

    svg {
      width: size(18px);
      height: size(20px);
      top: size(-13px);

      @include tablet {
        width: size-tablet(18px);
        height: size-tablet(20px);
        top: 0;
      }

      @include mobile {
        width: size-mobile(13px);
        height: size-mobile(16px);
        top: size-mobile(-10px);
      }
    }
  }

  &__item &__item-icon-wrapper--bicycle &__item-icon {
    @include tablet {
      width: size-tablet(25px);
      height: size-tablet(25px);
    }

    svg {
      width: size(25px);
      height: size(25px);

      @include tablet {
        width: size-tablet(25px);
        height: size-tablet(25px);
      }

      @include mobile {
        width: size-mobile(15px);
        height: size-mobile(17px);
        top: size-mobile(-11px);
      }
    }
  }

  &__item &__item-icon-wrapper--run &__item-icon {
    @include tablet {
      width: size-tablet(22px);
      height: size-tablet(24px);
    }

    svg {
      width: size(22px);
      height: size(24px);

      @include tablet {
        width: size-tablet(22px);
        height: size-tablet(24px);
      }

      @include mobile {
        width: size-mobile(13px);
        height: size-mobile(17px);
        top: size-mobile(-10px);
      }
    }
  }

  &__item-flags-wrapper {
    margin-top: size(4px);
    display: flex;
    flex-direction: column;
    row-gap: size(14px);
    grid-column: 4 / 6;
    grid-row: 2 / 3;

    @include tablet {
      margin-top: 0;
      flex-direction: row;
      row-gap: unset;
      column-gap: size-tablet(11px);
      grid-column: 1 / -1;
      grid-row: 7 / 8;
    }

    @include mobile {
      margin: 0;
      margin-left: size-mobile(7px);
      row-gap: size-mobile(10px);
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
  }

  &__item:nth-child(4n+2) &__item-flags-wrapper {
    @include tablet {
      column-gap: size-tablet(13px);
    }

    @include mobile {
      margin-bottom: size-mobile(5px);
    }
  }

  &__item:nth-child(4n+3) &__item-flags-wrapper {
    margin-top: 0;

    @include tablet {
      column-gap: size-tablet(13px);
    }
  }

  &__item:nth-child(4n+4) &__item-flags-wrapper {
    @include tablet {
      column-gap: size-tablet(19px);
    }
  }

  &__item-flag-wrapper {
    display: flex;
    align-items: flex-end;
    column-gap: size(18px);

    @include tablet {
      column-gap: size-tablet(12px);
    }

    @include mobile {
      align-items: flex-start;
      column-gap: size-mobile(14px);
    }
  }

  &__item:nth-child(4n+4) &__item-flag-wrapper {
    @include tablet {
      column-gap: size-tablet(16px);
    }
  }

  &__item-flag-icon {
    @include tablet {
      height: size-tablet(24px);

      img {
        height: size-tablet(24px);
        object-fit: cover;
      }
    }

    @include mobile {
      min-width: size-mobile(26px);
      height: size-mobile(18px);

      img {
        width: size-mobile(26px);
        height: size-mobile(18px);
      }
    }
  }

  &__item:nth-child(4n+1) &__item-flags-wrapper &__item-flag-wrapper:nth-child(3n+1) &__item-flag-icon,
  &__item:nth-child(4n+2) &__item-flags-wrapper &__item-flag-wrapper:nth-child(3n+1) &__item-flag-icon,
  &__item:nth-child(4n+3) &__item-flags-wrapper &__item-flag-wrapper:nth-child(3n+2) &__item-flag-icon,
  &__item:nth-child(4n+4) &__item-flags-wrapper &__item-flag-wrapper &__item-flag-icon {
    @include tablet {
      min-width: size-tablet(40px);

      img {
        width: size-tablet(40px);
      }
    }
  }

  &__item:nth-child(4n+1) &__item-flags-wrapper &__item-flag-wrapper:nth-child(3n+2) &__item-flag-icon {
    @include tablet {
      min-width: size-tablet(44px);

      img {
        width: size-tablet(44px);
      }
    }
  }

  &__item:nth-child(4n+2) &__item-flags-wrapper &__item-flag-wrapper:nth-child(3n+2) &__item-flag-icon,
  &__item:nth-child(4n+3) &__item-flags-wrapper &__item-flag-wrapper:nth-child(3n+1) &__item-flag-icon {
    @include tablet {
      min-width: size-tablet(42px);

      img {
        width: size-tablet(42px);
      }
    }
  }

  &__item:nth-child(4n+1) &__item-flags-wrapper &__item-flag-wrapper:nth-child(3n+3) &__item-flag-icon {
    @include tablet {
      min-width: size-tablet(41px);
      margin-left: size-tablet(6px);

      img {
        width: size-tablet(41px);
      }
    }
  }

  &__item:nth-child(4n+3) &__item-flags-wrapper &__item-flag-wrapper:nth-child(3n+3) &__item-flag-icon {
    @include tablet {
      min-width: size-tablet(35px);

      img {
        width: size-tablet(35px);
      }
    }
  }

  &__item:nth-child(4n+4) &__item-flags-wrapper &__item-flag-wrapper:nth-child(2n+1) &__item-flag-icon {
    @include desktop {
      max-width: size(35px);
      height: size(24px);

      img {
        max-width: size(35px);
        height: size(24px);
      }
    }
  }

  &__item-flag-text {
    font-size: size(20px);
    line-height: 1;
    text-transform: uppercase;
    color: $color-default-catalina-blue;

    @include tablet {
      font-size: size-tablet(20px);
    }

    @include mobile {
      font-size: size-mobile(15px);
      line-height: 1.1;
    }
  }

  &__item-flag-tooltip {
    display: none;
  }

  &__item-call-button {
    background-color: $color-default-pale-cornflower-blue;
    border: none;
    border-radius: 30px;
    margin-left: size(18px);
    padding: size(19px) size(27px) size(13px);
    cursor: pointer;
    transition: all 0.2s ease;
    grid-column: 2 / 3;
    grid-row: 5 / 6;

    @include tablet {
      border-radius: 25px;
      margin-top: size-tablet(5px);
      margin-left: 0;
      padding: size-tablet(17px) size-tablet(31px) size-tablet(13px) size-tablet(32px);
      grid-column: 5 / 6;
      grid-row: 2 / 3;
    }

    @include mobile {
      width: size-mobile(230px);
      font-size: size-mobile(17px);
      margin-left: 0;
      padding: size-mobile(14px) size-mobile(76px) size-mobile(9px);
      grid-column: 1 / -1;
      grid-row: 5 / 6;
    }

    &:hover,
    &:focus {
      background-color: $color-default-picton-blue;
      transition: all 0.2s ease;
    }

    &:active {
      color: rgba(22, 28, 53, 0.3);
    }
  }

  &__item-call-wrapper {
    margin-left: size(4px);
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    justify-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: size(4px);

    @include tablet {
      margin-left: size-tablet(4px);
      margin-bottom: size-tablet(-7px);
      grid-column: 6 / 7;
      grid-row: 2 / 3;
      column-gap: size-tablet(4px);
    }

    @include mobile {
      height: min-content;
      margin: 0;
      column-gap: size-mobile(7px);
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      position: relative;
      top: size-mobile(41px);
      left: 0;
    }

    &:has(.companions__icon-call-icon:hover) &__item-call-icon-active,
    &:has(.companions__icon-call-icon:focus) &__item-call-icon-active {
      background-color: $color-likes-hover;
    }

    &:has(.companions__icon-call-icon:active) &__item-call-icon-active {
      color: rgba(240, 35, 35, 0.3);
    }
  }

  &__item-call-button,
  &__item-call-likes,
  &__button,
  &__pagination-item a {
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-default-catalina-blue;

    @include desktop {
      font-size: size(20px);
    }

    @include tablet {
      font-size: size-tablet(20px);
    }
  }

  &__item-call-likes {
    @include mobile {
      font-size: size-mobile($fz-mobile);
      line-height: 1.14;
    }
  }

  &__item:nth-child(4n+3) &__item-call-button,
  &__item:nth-child(4n+4) &__item-call-button {
    @include tablet {
      margin-top: 0;
    }
  }

  &__item-call-icons {
    min-width: size(50px);
    height: size(50px);
    border: none;
    border-radius: 50%;
    color: rgba(25, 33, 68, 0.5);
    background-color: $color-default-lavander;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;

    @include tablet {
      min-width: size-tablet(57px);
      height: size-tablet(50px);
    }

    @include mobile {
      min-width: size-mobile(30px);
      height: size-mobile(30px);
    }

    svg {
      width: size(20px);
      height: size(18px);

      @include tablet {
        width: size-tablet(23px);
        height: size-tablet(18px);
      }

      @include mobile {
        width: size-mobile(12px);
        height: size-mobile(11px);
      }
    }

    &:hover,
    &:focus {
      color: rgba(25, 33, 68, 0.8);
      transition: all 0.2s ease;
    }

    &:active {
      color: rgba(25, 33, 68, 0.1);
    }
  }

  &__item:nth-child(4n+3) &__item-call-wrapper,
  &__item:nth-child(4n+4) &__item-call-wrapper {
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__item-call-icons--liked {
    color: $color-heart-default;
    background-color: $color-likes-default;
    transition: all 0.2s ease;
  }

  &__item-call-icons--notliked &__item-call-icon-closed {
    display: none;
  }

  &__item-call-icons--liked &__item-call-icon-default {
    display: none;
  }

  &__item-call-icons--liked &__item-call-icon-active {
    display: block;
  }

  &__item-call-icons--liked:hover,
  &__item-call-icons--liked:focus {
    color: $color-heart-default;
    background-color: $color-likes-hover;
    transition: all 0.2s ease;
  }

  &__item-call-icons--liked:active {
    color: rgba(240, 35, 35, 0.3);
  }

  &__item-want {
    @include desktop {
      display: none;
    }

    min-width: size-tablet(123px);
    font-size: size-tablet(15px);
    line-height: 1.1;
    text-align: right;
    text-transform: lowercase;
    background-color: $color-default-white;
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    position: relative;
    z-index: 1;

    @include mobile {
      width: size-mobile(111px);
      font-size: size-mobile($fz-mobile);
      line-height: 1.14;
      margin-bottom: size-mobile(7px);
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  }

  &__item:nth-child(4n+2) &__item-want {
    @include tablet {
      margin-top: size-tablet(5px);
    }

    @include mobile {
      margin-bottom: size-mobile(6px);
    }
  }

  &__item:nth-child(4n+3) &__item-want {
    @include tablet {
      margin-bottom: size-tablet(-1px);
    }
  }

  &__button {
    width: 100%;
    background-color: transparent;
    padding: size(10px) size(30px);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: size(24px);
    margin-bottom: size(9px);
    cursor: pointer;

    @include tablet {
      padding: size-tablet(10px) size-tablet(30px);
      column-gap: size-tablet(25px);
      margin-bottom: size-tablet(5px);
    }

    @include mobile {
      font-size: size-mobile(17px);
      line-height: 1.76;
      margin: 0;
      padding: size-mobile(10px) size-mobile(42px) size-mobile(8px);
      column-gap: size-mobile(11px);
    }

    svg {
      min-width: size(26px);
      height: size(26px);
      margin-left: size(-56px);

      @include tablet {
        min-width: size-tablet(26px);
        height: size-tablet(26px);
        margin-left: size-tablet(11px);
      }

      @include mobile {
        min-width: size-mobile(18px);
        height: size-mobile(18px);
        margin-top: size-mobile(-5px);
        margin-left: size-mobile(9px);
      }
    }

    &:hover svg,
    &:focus svg {
      opacity: 0.6;
    }

    &:active svg {
      opacity: 0.3;
    }
  }

  &__pagination-wrapper {
    width: 100%;
    background-color: $color-default-white;
    border-radius: 20px;
    padding: size(24px) size(43px) size(24px) size(29px);
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding: size-tablet(25px) size-tablet(35px) size-tablet(25px) size-tablet(28px);
    }

    @include mobile {
      padding: size-mobile(20px) size-mobile(66px) size-mobile(17px);
      display: block;
      position: relative;

      &::before {
        content: " ";
        display: block;
        width: 1px;
        height: 100%;
        background-color: $color-default-solitude;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__pagination-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    @include mobile {
      display: none;
    }
  }

  &__pagination-item {
    width: fit-content;
    height: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      min-width: size(50px);
      min-height: size(50px);
      border-radius: 50%;
      background-color: transparent;
      padding: size(16px) size(19px);

      @include tablet {
        min-width: size-tablet(50px);
        min-height: size-tablet(50px);
        padding: size-tablet(16px) size-tablet(19px);
      }

      &:hover,
      &:focus {
        color: rgba(29, 46, 91, 0.6);
      }

      &:active {
        background-color: $color-default-picton-blue;
      }
    }
  }

  &__pagination-item--active a {
    background-color: $color-default-picton-blue;
  }

  &__pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: size(20px);

    @include tablet {
      column-gap: size-tablet(24px);
    }

    @include mobile {
      justify-content: space-between;
    }
  }

  &__pagination-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    &::before {
      content: " ";
      display: block;
      width: size(16px);
      height: size(16px);
      background-color: $color-default-catalina-blue;
      transform: rotate(45deg);

      @include tablet {
        width: size-tablet(13px);
        height: size-tablet(13px);
      }

      @include mobile {
        width: size-mobile(13px);
        height: size-mobile(13px);
      }
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      &::before {
        opacity: 0.6;
      }
    }

    &:active:not(:disabled) {
      &::before {
        opacity: 0.3;
      }
    }

    &:disabled {
      cursor: default;

      &::before {
        opacity: 0.2;
      }
    }
  }

  &__pagination-button--prev::before {
    clip-path: polygon(0 0, 100% 100%, 0 100%);
  }

  &__pagination-button--next::before {
    clip-path: polygon(100% 0, 100% 100%, 0 0);
  }
}
