.contacts {
  .container {
    padding: 0;

    h2 {
      position: fixed;
      transform: scale(0);
    }
  }

  &__nav-wrapper {
    padding: size(116px) size(60px) size(56px);
    background-color: $color-default-jordy-blue;
    border-bottom-right-radius: 61px;
    border-bottom-left-radius: 61px;
    position: relative;
    z-index: 1;
    margin-top: size(-60px);

    @include tablet {
      padding: size-tablet(100px) size-tablet(75px) size-tablet(84px);
      border-bottom-right-radius: 51px;
      border-bottom-left-radius: 51px;
      margin-top: size-tablet(-51px);
    }

    @include mobile {
      padding: size-mobile(70px) size-mobile(25px) size-mobile(33px) size-mobile(26px);
      border-bottom-right-radius: 28px;
      border-bottom-left-radius: 28px;
      margin-top: size-mobile(-37px);
    }
  }

  &__nav {
    width: size(1022px);
    display: grid;
    grid-template-columns: size(590px) size(108px) min-content;
    grid-template-rows: size(5px) min-content size(5px);
    margin-left: size(223px);

    @include max-tablet {
      width: unset;
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    @include mobile {
      margin-left: size-mobile(1px);
    }
  }

  &__address-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: size(31px);
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    @include max-tablet {
      justify-content: flex-start;
    }

    @include tablet {
      column-gap: size-tablet(26px);
      margin-bottom: size-tablet(43px);
    }

    @include mobile {
      column-gap: size-mobile(16px);
      margin-bottom: size-mobile(33px);
    }

    address {
      font-size: size(28px);
      line-height: 1;
      font-weight: 700;
      font-style: normal;
      text-transform: uppercase;
      color: $color-default-catalina-blue;

      @include tablet {
        font-size: size-tablet(28px);
      }

      @include mobile {
        width: size-mobile(217px);
        font-size: size-mobile(16px);
        line-height: 1.38;
      }
    }
  }

  &__icon {
    min-width: size(90px);
    height: size(90px);
    background-color: $color-default-midnight-express;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      min-width: size-tablet(68px);
      height: size-tablet(68px);
    }

    @include mobile {
      min-width: size-mobile(45px);
      height: size-mobile(45px);
    }

    svg {
      width: size(42px);
      height: size(42px);

      @include tablet {
        width: size-tablet(32px);
        height: size-tablet(32px);
      }

      @include mobile {
        width: size-mobile(21px);
        height: size-mobile(21px);
      }
    }
  }

  &__button {
    width: size(324px);
    height: auto;
    font-size: size($fz-default);
    line-height: 1;
    font-weight: 700;
    color: $color-default-catalina-blue;
    background-color: transparent;
    border: 3px solid $color-default-midnight-express;
    padding: size(24px) size(14px) size(22px) size(35px);
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    transition: all 0.3s ease;

    @include max-tablet {
      width: unset;
    }

    @include tablet {
      font-size: size-tablet($fz-default);
      padding: size-tablet(27px) size-tablet(14px) size-tablet(24px) size-tablet(34px);
    }

    @include mobile {
      font-size: size-mobile(18px);
      padding: size-mobile(18px) size-mobile(10px) size-mobile(19px) size-mobile(11px);
      border-radius: 6px;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: $color-default-white;
      background-color: $color-default-midnight-express;
      transition: all 0.3s ease;
    }

    &:active:not(:disabled) {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__map-wrapper {
    width: size(1425px);
    display: grid;
    grid-template-columns: size(634px) min-content size(750px);
    grid-template-rows: size(238px) min-content size(290px);
    position: relative;
    z-index: 0;
    margin-top: size(-122px);

    @include tablet {
      width: size-tablet(768px);
      grid-template-columns: size-tablet(346px) min-content size-tablet(353px);
      grid-template-rows: size-tablet(231px) min-content size-tablet(296px);
      margin-top: size-tablet(-48px);
    }

    @include mobile {
      width: size-mobile(320px);
      grid-template-columns: size-mobile(157px) min-content size-mobile(122px);
      grid-template-rows: size-mobile(282px) min-content size-mobile(101px);
      margin-top: size-mobile(-52px);
    }

    iframe {
      width: size(1425px);
      min-height: 100%;
      border: none;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      position: relative;
      z-index: 0;
      overflow: hidden;

      @include tablet {
        width: size-tablet(768px);
        margin-top: size-tablet(-59px);
      }

      @include mobile {
        width: size-mobile(320px);
      }
    }
  }

  &__picture {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  &__map-icon {
    width: size(56px);
    height: size(56px);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    z-index: 1;

    @include tablet {
      width: size-tablet(54px);
      height: size-tablet(54px);
    }

    @include mobile {
      width: size-mobile(41px);
      height: size-mobile(41px);
    }

    svg {
      width: size(56px);
      height: size(56px);

      @include tablet {
        width: size-tablet(54px);
        height: size-tablet(54px);
      }

      @include mobile {
        width: size-mobile(41px);
        height: size-mobile(41px);
      }
    }
  }

  &__picture--desktop {
    @include max-tablet {
      display: none;
    }

    width: size(1425px);
    height: size(584px);

    img {
      width: size(1425px);
      height: size(584px);
    }
  }

  &__picture--tablet,
  &__picture--mobile {
    @include desktop {
      display: none;
    }
  }

  &__picture--tablet {
    @include mobile {
      display: none;
    }

    width: 100%;
    height: size-tablet(581px);

    img {
      width: 100%;
      height: size-tablet(581px);
    }
  }

  &__picture--mobile {
    @include tablet {
      display: none;
    }

    width: size-mobile(320px);
    height: size-mobile(424px);

    img {
      width: size-mobile(320px);
      height: size-mobile(424px);
    }
  }
}
