.countries {
  // Добавить высоту для проверки по РР
  // height: 2800px;
  padding: size(72px) size(60px) size(102px);
  background-color: $color-default-solitude;
  position: relative;
  z-index: 1;
  margin-top: size(-38px);

  @include tablet {
    background-color: $color-default-lavander;
    border-bottom-right-radius: 61px;
    border-bottom-left-radius: 61px;
    padding: size-tablet(176px) size-tablet(40px) size-tablet(1px);
    margin-top: size-tablet(-142px);
  }

  @include mobile {
    background-color: $color-default-lavander;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: size-mobile(28px) size-mobile(25px) size-mobile(1px);
    margin-top: size-mobile(-18px);
  }

  .container {
    padding: 0;

    &:has(.countries__list--closed) .countries__close-button,
    &:has(.countries__tablet-layout--closed) .countries__close-button {
      display: none;
    }

    @include max-tablet {
      position: relative;
    }
  }

  &__buttons-wrapper,
  &__buttons-init,
  &__buttons-filter {
    display: flex;
    align-items: center;
  }

  &__buttons-wrapper {
    @include tablet {
      max-width: size-tablet(688px);
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin-bottom: size-tablet(44px);
    }

    @include mobile {
      max-width: size-mobile(276px);
      margin-bottom: size-mobile(7px);
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__buttons-init {
    margin-left: size(20px);

    @include max-tablet {
      margin-left: 0;
    }
  }

  &__buttons-filter {
    @include tablet {
      margin-left: size-tablet(32px);
    }

    @include mobile {
      button {
        padding: size-mobile(7px) 0;
      }
    }
  }

  &__buttons-filter--closed {
    @include mobile {
      display: none;
    }
  }

  &__buttons-filter--opened {
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: size-mobile(25px);
    }
  }

  &__button,
  &__label span,
  &__close-button {
    font-size: size(20px);
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(25, 33, 68, 0.3);
    background-color: transparent;
    border: none;
    padding: size(20px) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include tablet {
      font-size: size-tablet(20px);
      padding: size-tablet(20px) 0 size-tablet(13px);
    }

    @include mobile {
      font-size: size-mobile(16px);
      line-height: 1.13;
      padding: size-mobile(7px) 0;
    }
  }

  &__button {
    transition: all 0.2s ease;

    &:hover:not(.countries__button--active),
    &:hover:not(.countries__button--all),
    &:hover:not(.countries__button--more),
    &:focus:not(.countries__button--active),
    &:focus:not(.countries__button--all),
    &:focus:not(.countries__button--more) {
      color: rgba(25, 33, 68, 0.6);
      transition: all 0.2s ease;
    }

    &:active:not(.countries__button--all),
    &:active:not(.countries__button--more) {
      color: $color-default-midnight-express;
    }
  }

  &__button--all,
  &__button--more,
  &__button--active {
    color: $color-default-midnight-express;
    transition: all 0.2s ease;

    svg {
      transition: all 0.2s ease;
    }

    &:hover,
    &:focus {
      color: rgba(25, 33, 68, 0.6);
      transition: all 0.2s ease;

      svg {
        opacity: 0.6;
        transition: all 0.2s ease;
      }
    }

    &:active {
      color: rgba(25, 33, 68, 0.3);

      svg {
        opacity: 0.3;
      }
    }
  }

  &__button--all,
  &__button--more {
    column-gap: size(22px);
    margin-right: size(5px);

    @include tablet {
      column-gap: size-tablet(26px);
      margin-right: 0;
    }

    @include mobile {
      column-gap: size-mobile(8px);
      margin-right: 0;
      margin-left: size-mobile(-4px);
      justify-content: flex-end;
    }

    svg {
      min-width: size(23px);
      height: size(15px);

      @include tablet {
        min-width: size-tablet(33px);
        height: size-tablet(17px);
      }

      @include mobile {
        min-width: size-mobile(16px);
        height: size-mobile(10px);
      }
    }
  }

  &__label {
    display: grid;
    grid-template-columns: repeat(1, min-content);
    grid-template-rows: repeat(1, min-content);
  }

  &__checkbox {
    width: 100%;
    height: auto;
    appearance: none;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover:not(:disabled) ~ span,
    &:focus:not(:disabled) ~ span {
      color: rgba(25, 33, 68, 0.6);
      transition: all 0.2s ease;
    }

    &:checked ~ span {
      color: $color-default-midnight-express;
    }

    &:disabled ~ span {
      opacity: 0.3;
      cursor: default;
    }
  }

  &__label span {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  &__button--europe ~ span {
    margin-right: size(25px);

    @include tablet {
      margin-right: size-tablet(20px);
    }

    @include mobile {
      margin-bottom: size-mobile(-5px);
    }
  }

  &__button--asia ~ span {
    margin-right: size(28px);

    @include tablet {
      margin-right: size-tablet(24px);
    }

    @include mobile {
      margin-bottom: size-mobile(-5px);
    }
  }

  &__button--america ~ span {
    margin-right: size(21px);

    @include tablet {
      margin-right: size-tablet(18px);
    }

    @include mobile {
      margin-bottom: size-mobile(-5px);
    }
  }

  &__button--tablet {
    @include desktop {
      display: none;
    }

    margin-left: size-tablet(59px);
    flex-direction: row-reverse;

    @include mobile {
      margin-left: size-mobile(7px);

      span {
        display: none;
      }

      svg {
        width: size-mobile(16px);
        height: size-mobile(16px);
        margin-right: size-mobile(10px);
      }
    }
  }

  &__button--desktop {
    @include tablet {
      display: none;
    }

    @include mobile {
      span {
        min-width: size-mobile(218px);
        text-align: left;
      }
    }
  }

  &__list,
  &__sublist {
    margin: 0;
    padding: 0;
    list-style: none;
    column-gap: size(32px);
  }

  &__list--closed {
    display: none;
  }

  &__list--opened {
    display: flex;
    flex-wrap: wrap;
    padding: size(55px) size(36px) size(49px);
  }

  &__list--desktop {
    @include max-tablet {
      display: none;
    }
  }

  &__list--tablet {
    @include desktop {
      display: none;
    }
  }

  &__tablet-layout--closed {
    display: none;
  }

  &__item {
    min-width: size(220px);
    font-size: size(60px);
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-default-midnight-express-3;
    display: flex;
    flex-direction: column;
    row-gap: size(38px);
    margin-bottom: size(21px);
  }

  &__item .countries__subitem {
    font-size: size(20px);
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
    color: $color-default-charcoal;
  }

  &__sublist {
    margin-top: size-tablet(-4px);
  }

  &__subitem {
    @include tablet {
      font-size: size-tablet(20px);
      line-height: 1.5;
      font-weight: 400;
      text-transform: none;
      color: $color-default-charcoal;
    }

    @include mobile {
      font-size: size-mobile(16px);
      line-height: 1.38;
      font-weight: 400;
    }
  }

  &__tablet-layout-wrapper--closed {
    display: none;
  }

  &__tablet-layout-wrapper--opened {
    @include max-tablet {
      width: 100vw;
    }

    @include tablet {
      background-color: $color-default-lavander;
      border-bottom-left-radius: 61px;
      border-bottom-right-radius: 61px;
      padding-top: size-tablet(7px);
      position: absolute;
      top: size-tablet(98px);
      left: size-tablet(-40px);
    }

    @include mobile {
      background-color: $color-default-lavander;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding-top: size-mobile(7px);
      position: absolute;
      top: size-mobile(165px);
      left: size-mobile(-25px);
    }
  }

  &__tablet-layout--opened {
    @include max-tablet {
      margin-bottom: size-tablet(75px);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: size-tablet(380px) min-content;
      column-gap: size-tablet(54px);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      margin-bottom: size-mobile(6px);
    }
  }

  &__letters {
    @include max-tablet {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    @include tablet {
      font-size: size-tablet(60px);
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
      color: rgba(25, 33, 68, 0.3);
      padding-left: size-tablet(74px);
      column-gap: size-tablet(25px);
      row-gap: size-tablet(24px);
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    @include mobile {
      width: size-mobile(222px);
      margin-top: size-mobile(6px);
      margin-left: size-mobile(50px);
      margin-bottom: size-mobile(13px);
      border: 0.25px solid rgba(25, 33, 68, 0.3);
    }
  }

  &__countries-content {
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    @include mobile {
      margin-left: size-mobile(50px);
      // Включить для теста РР
      margin-bottom: 21px;
    }
  }

  &__letter {
    @include tablet {
      width: size-tablet(58px);
    }

    @include mobile {
      width: size-mobile(44px);
      height: size-mobile(41px);
      font-size: size-mobile($fz-mobile);
      line-height: 1;
      text-transform: uppercase;
      border: 0.25px solid rgba(25, 33, 68, 0.3);
      color: $color-default-catalina-blue;
      background-color: $color-default-white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__letter--active {
    color: $color-default-midnight-express;

    @include mobile {
      color: $color-default-white;
      background-color: $color-default-midnight-express-3;
    }
  }

  &__close-button {
    width: 100%;
    font-size: size(20px);
    line-height: 1;
    font-weight: 700;
    color: $color-default-midnight-express-3;
    background-color: $color-default-hawkes-blue;
    border-radius: 20px;
    padding: size(41px);
    padding-bottom: size(35px);
    column-gap: size(17px);

    @include max-tablet {
      margin: 0 auto;
    }

    @include tablet {
      width: size-tablet(615px);
      font-size: size-tablet(20px);
      padding: size-tablet(37px);
      padding-top: size-tablet(41px);
      column-gap: size-tablet(18px);
    }

    @include mobile {
      width: size-mobile(270px);
      font-size: size-mobile(16px);
      line-height: 1.25;
      letter-spacing: 0.8px;
      padding: size-mobile(12px) size-mobile(13px) size-mobile(7px);
      column-gap: size-mobile(11px);
    }

    svg {
      width: size(24px);
      height: size(24px);
      margin-left: size(-10px);

      @include tablet {
        width: size-tablet(22px);
        height: size-tablet(24px);
        margin-left: 0;
      }

      @include mobile {
        width: size-mobile(14px);
        height: size-mobile(14px);
        margin-top: size-mobile(-6px);
        margin-left: size-mobile(10px);
      }
    }

    &:hover,
    &:focus {
      background-color: $color-close-button-hover;
    }

    &:active {
      color: rgba(25, 33, 68, 0.3);
    }
  }
}
