.footer {
  padding: size(52px) size(60px) size(37px);
  background-color: $color-default-white;
  border-top-right-radius: 61px;
  border-top-left-radius: 61px;
  position: relative;
  z-index: 1;
  margin-top: size(-67px);

  @include tablet {
    padding: size-tablet(46px) size-tablet(40px) size-tablet(32px);
    border-top-right-radius: 51px;
    border-top-left-radius: 51px;
    margin-top: size-tablet(-70px);
  }

  @include mobile {
    padding: size-mobile(37px) size-mobile(25px) size-mobile(65px) size-mobile(22px);
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    margin-top: size-mobile(-48px);
  }

  .container {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include mobile {
      padding-bottom: size-mobile(37px);
      flex-direction: column;
      row-gap: size-mobile(40px);
      border-bottom: 1px solid $color-default-white-smoke;
    }
  }

  &__logo {
    width: size(200px);
    height: size(50px);
    line-height: 1;
    margin-top: size(-8px);
    margin-right: size(367px);

    @include tablet {
      width: size-tablet(166px);
      height: size-tablet(42px);
      margin-top: 0;
      margin-right: size-tablet(86px);
    }

    @include mobile {
      width: size-mobile(96px);
      height: size-mobile(15px);
      margin: 0;
    }

    img {
      min-width: size(200px);
      height: size(50px);

      @include tablet {
        min-width: size-tablet(166px);
        height: size-tablet(42px);
      }

      @include mobile {
        min-width: size-mobile(96px);
        height: size-mobile(15px);
      }
    }

    a:hover,
    a:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__logo-link-desktop {
    @include mobile {
      display: none;
    }
  }

  &__logo-link-mobile {
    @include tablet-etalon {
      display: none;
    }
    color: $color-default-midnight-express-3;
  }

  &__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__social-link {
    width: size(62px);
    height: size(62px);
    background-color: $color-default-pale-cornflower-blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    @include tablet {
      width: size-tablet(62px);
      height: size-tablet(62px);
    }

    @include mobile {
      width: size-mobile(45px);
      height: size-mobile(45px);
    }

    svg {
      width: size(29px);
      height: size(29px);

      @include tablet {
        width: size-tablet(29px);
        height: size-tablet(29px);
      }

      @include mobile {
        width: size-mobile(20px);
        height: size-mobile(20px);
      }
    }

    &:hover,
    &:focus {
      background-color: $color-default-picton-blue;
      transition: all 0.3s ease;
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }

  &__social-item:nth-child(2n) .footer__social-link {
    @include mobile {
      svg {
        width: size-mobile(30px);
        height: size-mobile(23px);
      }
    }
  }
}
