.interesting {
  padding: size(150px) size(60px) size(103px);
  color: $color-default-white;
  background-color: $color-default-blue-zodiac;
  border-bottom-right-radius: 61px;
  border-bottom-left-radius: 61px;
  position: relative;
  z-index: 2;

  @include max-tablet {
    background-color: $color-default-midnight-express-3;
  }

  @include tablet {
    padding: size-tablet(133px) size-tablet(40px) size-tablet(58px);
    margin-top: size-tablet(-61px);
  }

  @include mobile {
    padding: size-mobile(48px) size-mobile(25px);
    margin-top: size-mobile(-25px);
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
  }

  .container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: size(95px);
    line-height: 1;
    text-align: center;
    margin: 0;
    margin-bottom: size(21px);

    @include tablet {
      font-size: size-tablet(75px);
      font-variant-caps: all-small-caps;
      margin-bottom: size-tablet(28px);
    }

    @include mobile {
      font-size: size-mobile($fz-default);
      margin-bottom: size-mobile(19px);
      margin-left: size-mobile(6px);
    }
  }

  &__description {
    width: size(635px);
    font-size: size(28px);
    line-height: 1.11;
    font-weight: 300;
    text-align: center;
    margin: 0;
    margin-bottom: size(47px);


    br:nth-child(2n) {
      @include tablet-etalon {
        display: none;
      }
    }

    @include tablet {
      width: size-tablet(700px);
      font-size: size-tablet($fz-default);
      line-height: 1.33;
      margin-bottom: size-tablet(71px);
      margin-left: size-tablet(-15px);
    }

    @include mobile {
      width: size-mobile(190px);
      font-size: size-mobile(13px);
      line-height: 1.69;
      margin-bottom: size-mobile(29px);
      margin-left: size-mobile(-5px);
    }

    a {
      color: $color-default-pale-cornflower-blue;
      text-decoration: underline;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
        color: $color-default-picton-blue;
        transition: all 0.3s ease;
      }

      &:active {
        color: $color-interesting-active;
      }
    }
  }

  &__form {
    display: grid;
    grid-template-columns: size(845px) min-content;
    grid-template-rows: repeat(1, min-content);
    margin-bottom: size(70px);

    @include tablet {
      grid-template-columns: size-tablet(536px) min-content;
      margin-bottom: size-tablet(77px);
    }

    @include mobile {
      grid-template-columns: size-mobile(220px) min-content;
      margin-left: size-mobile(-6px);
      margin-bottom: size-mobile(31px);
    }

    input {
      width: size(1175px);
      font-size: inherit;
      font-weight: 700;
      color: $color-default-charcoal;
      padding: size(29px) size(36px) size(24px);
      border: none;
      border-radius: 20px;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      transition: all 0.3s ease;

      @include tablet {
        width: size-tablet(616px);
        font-size: size-tablet($fz-default);
        padding: size-tablet(24px) size-tablet(36px) size-tablet(28px);
      }

      @include mobile {
        width: size-mobile(270px);
        font-size: size-mobile(18px);
        padding: size-mobile(22px) size-mobile(25px) size-mobile(19px);
        border-radius: 11px;
      }

      &::placeholder {
        font-size: size($fz-default);
        line-height: 1;
        color: rgba(68, 68, 68, 0.3);

        @include tablet {
          font-size: size-tablet($fz-default);
        }

        @include mobile {
          font-size: size-mobile(18px);
        }
      }

      &:hover:not(.interesting__input--filled),
      &:focus:not(.interesting__input--filled) {
        background-color: $color-default-solitude;
        transition: all 0.3s ease;

        &::placeholder {
          color: rgba(68, 68, 68, 0.5);
        }
      }
    }

    button {
      width: size(330px);
      line-height: 1;
      padding: size(30px) size(35px) size(27px) size(42px);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      justify-content: space-between;
      grid-column: 2 / 3;
      grid-row: 1 / -1;

      @include max-tablet {
        justify-content: center;
      }

      @include tablet {
        width: size-tablet(80px);
        color: $color-default-catalina-blue;
        margin-left: 0;
      }

      @include mobile {
        width: size-mobile(60px);
        margin-left: size-mobile(-10px);
        border-radius: 11px;
      }
    }
  }

  &__form &__input--filled {
    height: size(81px);
    border: 4px solid $color-default-white;
    color: $color-default-white;
    background-color: transparent;

    @include tablet {
      height: size-tablet(80px);
    }

    @include mobile {
      height: size-mobile(62px);
    }
  }

  &__button-text {
    @include max-tablet {
      position: fixed;
      transform: scale(0);
    }
  }

  &__quastions {
    font-size: size(28px);
    line-height: 1.07;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin: 0;
    margin-bottom: size(42px);

    @include tablet {
      font-size: size-tablet($fz-default);
      line-height: 1.25;
      letter-spacing: 0.2px;
      margin-bottom: size-tablet(24px);
    }

    @include mobile {
      width: size-mobile(210px);
      font-size: size-mobile($fz-mobile);
      line-height: 1.57;
      letter-spacing: 0.1px;
      text-align: center;
      margin-bottom: size-mobile(17px);
      margin-left: size-mobile(-6px);
    }

    br {
      @include tablet-etalon {
        display: none;
      }
    }
  }

  &__feedback-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: size(105px);
    margin-left: size(32px);

    @include max-tablet {
      flex-direction: column;
      gap: 0;
    }

    @include tablet {
      margin-left: size-tablet(35px);
      align-self: flex-start;
    }

    @include mobile {
      margin-left: size-mobile(-3px);
      align-self: flex-start;
    }
  }

  &__feedback {
    font-size: size(28px);
    line-height: 1.13;
    font-weight: 700;
    color: $color-default-pattens-blue;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: size(31px);
    transition: all 0.3s ease;

    @include tablet {
      font-size: size-tablet(28px);
      line-height: 1;
      column-gap: size-tablet(22px);
    }

    @include mobile {
      font-size: size-mobile(16px);
      line-height: 1.38;
      column-gap: size-mobile(16px);
    }

    &:hover,
    &:focus {
      color: $color-default-picton-blue;
      transition: all 0.3s ease;
    }

    &:active {
      color: rgba(168, 210, 244, 0.3);
    }
  }

  &__feedback-content {
    @include desktop {
      margin-top: size(10px);
    }

    @include tablet {
      margin-top: size-tablet(1px);
    }
  }

  &__feedback--call {
    @include mobile {
      margin-top: size-mobile(2px);
    }
  }

  &__feedback--mail {
    text-transform: uppercase;
  }

  &__feedback-icon {
    min-width: size(90px);
    height: size(90px);
    background-color: $color-default-midnight-express;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      min-width: size-tablet(68px);
      height: size-tablet(68px);

      svg {
        width: size-tablet(28px);
        min-width: size-tablet(28px);
        height: size-tablet(19px);
      }
    }

    @include mobile {
      min-width: size-mobile(45px);
      height: size-mobile(45px);

      svg {
        width: size-mobile(18px);
        min-width: size-mobile(18px);
        height: size-mobile(17px);
      }
    }
  }
}
