.profile {
  padding: size(96px) size(60px) size(65px);
  position: relative;
  z-index: 3;

  @include max-tablet {
    background-color: $color-default-solitude;
  }

  @include tablet {
    padding: size-tablet(136px) size-tablet(40px) size-tablet(61px);
    border-bottom-right-radius: 61px;
    border-bottom-left-radius: 61px;
    margin-top: size-tablet(-99px);
  }

  @include mobile {
    padding: size-mobile(64px) size-mobile(25px) size-mobile(25px);
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    margin-top: size-mobile(-28px);
  }

  .container {
    padding: 0;
    display: grid;
    grid-template-columns: size(16px) size(721px) min-content;
    grid-template-rows: min-content size(80px) size(62px) min-content size(41px) min-content;

    @include tablet {
      grid-template-columns: size-tablet(490px) min-content;
      grid-template-rows: min-content size-tablet(26px) size-tablet(38px) min-content size-tablet(34px) min-content;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-size: size(95px);
    line-height: 1;
    font-variant-caps: all-small-caps;
    color: $color-default-midnight-express;
    margin: 0;
    margin-left: size(71px);
    grid-column: 2 / 4;
    grid-row: 1 / 2;

    @include tablet {
      min-width: size-tablet(694px);
      font-size: size-tablet(95px);
      line-height: 0.94;
      text-align: center;
      margin-left: size-tablet(-5px);
      grid-column: 1 / -1;
    }

    @include mobile {
      min-width: size-mobile(270px);
      font-size: size-mobile(37px);
      line-height: 0.76;
      text-align: center;
      margin-bottom: size-mobile(30px);
      margin-left: size-mobile(-2px);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    position: relative;
    z-index: 0;

    @include tablet {
      grid-column: 1 / -1;
    }

    @include mobile {
      margin-bottom: size-mobile(37px);
    }
  }

  &__item {
    max-width: size(721px);
    font-size: size(28px);
    line-height: 1;
    font-weight: 400;
    padding-right: size(20px);
    padding-bottom: size(3px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    counter-increment: list;
    border-bottom: 1px solid $color-default-solitude;

    @include max-tablet {
      border-color: $color-default-solitude-2;
    }

    @include tablet {
      max-width: size-tablet(490px);
      font-size: size-tablet(28px);
      padding-right: size-tablet(20px);
      padding-bottom: size-tablet(3px);
    }

    @include mobile {
      font-size: size-mobile(16px);
      padding: size-mobile(4px) 0;
      display: grid;
      grid-template-columns: size-mobile(213px) min-content;
      grid-template-rows: repeat(1, min-content);
      column-gap: size-mobile(20px);
    }

    &::before {
      content: " ";
      display: block;
      width: size(96px);
      height: size(96px);
      background-color: $color-default-white;
      position: absolute;
      top: size(-2px);
      left: 0;
      z-index: 0;

      @include max-tablet {
        background-color: $color-default-solitude;
      }

      @include tablet {
        width: size-tablet(89px);
        height: size-tablet(75px);
        top: size-tablet(-1px);
      }

      @include mobile {
        width: size-mobile(53px);
        height: size-mobile(45px);
        top: size-mobile(-5px);
        left: 100%;
        transform: translateX(-100%);
        grid-column: 2 / 3;
        grid-row: 1 / -1;
      }
    }

    &::after {
      content: counter(list) " ";
      font-size: size(28px);
      line-height: 1;
      font-weight: 400;
      color: $color-default-white;
      position: absolute;
      top: 50%;
      left: size(27px);
      transform: translateY(-50%);
      z-index: 2;

      @include tablet {
        font-size: size-tablet(28px);
        left: size-tablet(27px);
      }

      @include mobile {
        font-size: size-mobile(16px);
        left: size-mobile(10px);
        grid-column: 2 / 3;
        grid-row: 1 / -1;
      }
    }
  }

  &__item:nth-child(3n+1) {
    border-top: 1px solid $color-default-solitude;

    @include max-tablet {
      border-color: $color-default-solitude-2;
    }

    @include tablet {
      padding-bottom: size-tablet(2px);
    }
  }

  &__item:nth-child(3n+2) {
    @include mobile {
      padding-bottom: size-mobile(8px);
    }
  }

  &__item:nth-child(3n+3) {
    @include tablet-etalon {
      padding: 0;
    }

    &::before {
      @include tablet {
        height: size-tablet(77px);
      }

      @include mobile {
        height: size-mobile(47px);
      }
    }
  }

  &__item-title {
    margin-left: size(25px);

    @include tablet {
      max-width: size-tablet(363px);
      margin-left: size-tablet(22px);
    }

    @include mobile {
      margin: 0;
      grid-column: 1 / 2;
      grid-row: 1 / -1;
    }
  }

  &__item:nth-child(3n+1) &__item-title {
    margin-top: size-tablet(5px);

    @include mobile {
      margin-top: 0;
    }
  }

  &__item:nth-child(3n+2) &__item-title {
    margin-top: size(5px);

    @include tablet {
      margin-top: size-tablet(-5px);
    }

    @include mobile {
      margin-top: size-mobile(5px);
    }
  }

  &__item:nth-child(3n+3) &__item-title {
    @include desktop {
      margin-top: size(4px);
    }
  }

  &__item-ellipse {
    min-width: size(72px);
    height: size(71px);
    position: relative;
    top: 0;
    left: size(-1px);
    z-index: 1;

    @include tablet {
      width: size-tablet(68px);
      height: size-tablet(68px);
      left: 0;
    }

    @include mobile {
      width: size-mobile(37px);
      height: size-mobile(35px);
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      left: size-mobile(-4px);
    }

    svg {
      width: size(72px);
      height: size(71px);

      @include tablet {
        width: size-tablet(68px);
        height: size-tablet(68px);
      }

      @include mobile {
        width: size-mobile(37px);
        height: size-mobile(35px);
      }
    }
  }

  &__item:nth-child(3n+1) &__item-ellipse {
    color: $color-default-picton-blue;
  }

  &__item:nth-child(3n+2) &__item-ellipse {
    color: $color-default-jordy-blue;
    margin-top: size(4px);

    @include mobile {
      margin-top: 0;
    }
  }

  &__item:nth-child(3n+3) &__item-ellipse {
    color: $color-default-pale-cornflower-blue;
    margin-top: size(4px);

    @include tablet {
      margin-top: size-tablet(-1px);
    }

    @include mobile {
      margin-top: 0;
    }
  }

  &__rates {
    color: $color-default-white;
    background-color: $color-default-blue-zodiac;
    border-radius: 20px;
    padding: size(55px) size(47px) size(69px) size(49px);
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: size(22px) min-content size(20px);
    column-gap: size(46px);
    grid-column: 3 / 4;
    grid-row: 3 / 6;
    position: relative;
    z-index: 1;

    @include tablet {
      display: flex;
      flex-direction: column;
      padding: size-tablet(23px) size-tablet(27px) size-tablet(18px);
      align-items: center;
      column-gap: unset;
      border-radius: 20px;
      grid-column: 2 / 3;
      grid-row: 3 / 6;
    }

    @include mobile {
      width: size-mobile(263px);
      margin-left: size-mobile(3px);
      padding: size-mobile(14px) size-mobile(18px) size-mobile(15px) size-mobile(15px);
      display: flex;
      justify-content: space-between;
    }
  }

  &__rates-cost {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
      margin-right: size-mobile(20px);
    }

    h3 {
      min-width: size(243px);
      font-size: size(41px);
      line-height: 1;
      text-align: right;
      font-variant-caps: all-small-caps;
      margin: 0;
      margin-bottom: size(20px);
      margin-left: size(-2px);

      @include tablet {
        min-width: unset;
        font-size: size-tablet(28px);
        text-align: center;
        margin-bottom: size-tablet(21px);
        margin-left: 0;
      }

      @include mobile {
        min-width: unset;
        font-size: size-mobile(20px);
        text-align: left;
        margin-bottom: size-mobile(23px);
        margin-left: 0;
      }
    }

    p {
      max-width: size(180px);
      font-size: size(28px);
      line-height: 1;
      font-weight: 400;
      text-align: right;
      margin: 0;
      margin-bottom: size(11px);
      margin-right: size(29px);

      @include tablet {
        max-width: unset;
        font-size: size-tablet($fz-default);
        line-height: 1.17;
        text-align: center;
        margin-bottom: size-tablet(10px);
        margin-right: size-tablet(6px);
      }

      @include mobile {
        max-width: unset;
        font-size: size-mobile(16px);
        font-weight: 300;
        text-align: left;
        margin-right: 0;
        margin-bottom: size-mobile(5px);
        align-self: flex-start;
      }
    }
  }

  &__rates-image {
    width: size(200px);
    height: size(202px);
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin-top: size(7px);

    @include tablet {
      width: size-tablet(100px);
      height: size-tablet(100px);
      margin-top: size-tablet(21px);
      align-self: center;
    }

    @include mobile {
      width: size-mobile(81px);
      height: size-mobile(81px);
      margin-top: size-mobile(2px);
    }

    img {
      width: size(200px);
      height: size(202px);

      @include tablet {
        width: size-tablet(100px);
        height: size-tablet(100px);
      }

      @include mobile {
        width: size-mobile(81px);
        height: size-mobile(81px);
      }
    }
  }

  &__button {
    font-size: size(20px);
    line-height: 1;
    font-weight: 700;
    color: $color-default-blue-zodiac;
    background-color: transparent;
    border: none;
    margin-top: size(31px);
    padding: 0;
    padding-right: size(20px);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    column-gap: size(26px);
    grid-column: 2 / 3;
    grid-row: 5 / 7;
    cursor: pointer;
    transition: all 0.3s ease;

    @include tablet {
      font-size: size-tablet(20px);
      margin-top: size-tablet(23px);
      column-gap: size-tablet(21px);
      grid-column: 1 / 2;
    }

    @include mobile {
      font-size: size-mobile(16px);
      margin-top: size-mobile(27px);
      margin-left: size-mobile(21px);
      column-gap: unset;
      color: $color-default-midnight-express;
    }

    &:hover,
    &:focus {
      opacity: 0.7;
      transition: all 0.3s ease;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__button-icon {
    min-width: size(72px);
    height: size(72px);
    border-radius: 50%;
    background-color: $color-default-lavander;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      min-width: size-tablet(68px);
      height: size-tablet(68px);
    }

    svg {
      min-width: size(29px);
      height: size(28px);

      @include tablet {
        width: size-tablet(27px);
        height: size-tablet(27px);
      }
    }

    @include mobile {
      display: none;
    }
  }

  &__bussiness-rates--closed {
    display: none;
  }

  &__bussiness-rates--opened {
    width: size(750px);
    background-color: $color-default-white;
    padding: size(54px) 0 0;
    border-radius: 30px;
    box-shadow: 0 4px 22px 0 rgba(29, 46, 91, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @include tablet {
      width: size-tablet(688px);
      padding: size-tablet(50px) 0 0;
      border-radius: 20px;
    }

    @include mobile {
      width: size-mobile(270px);
      margin-top: size-mobile(13px);
      padding: size-mobile(23px) 0 0;
      border-radius: 20px;
      align-items: flex-start;
    }

    h2 {
      font-size: size(45px);
      line-height: 1;
      font-variant-caps: all-small-caps;
      color: $color-default-midnight-express;
      margin: 0;
      margin-bottom: size(46px);
      margin-left: size(28px);

      @include tablet {
        font-size: size-tablet(41px);
        margin-bottom: size-tablet(40px);
        margin-left: size-tablet(20px);
      }

      @include mobile {
        font-size: size-mobile(26px);
        line-height: 1.73;
        margin: 0;
        margin-left: size-mobile(25px);
      }
    }

    dl {
      min-width: size(630px);
      margin: 0;
      margin-bottom: size(54px);

      @include tablet {
        min-width: size-tablet(588px);
        margin-bottom: size-tablet(40px);
      }

      @include mobile {
        min-width: size-mobile(222px);
        margin-top: size-mobile(-3px);
        margin-bottom: size-mobile(33px);
        margin-left: size-mobile(25px);
      }
    }

    dt {
      font-size: size(22px);
      line-height: 1.27;
      font-weight: 400;
      margin-right: size(30px);

      @include tablet {
        font-size: size-tablet(22px);
        margin-right: size-tablet(20px);
      }

      @include mobile {
        font-size: size-mobile(16px);
        line-height: 1.38;
        font-weight: 300;
        margin: 0;
      }
    }

    dd {
      font-size: size(22px);
      line-height: 1.27;
      font-weight: 300;
      margin: 0;

      @include tablet {
        font-size: size-tablet(22px);
      }

      @include mobile {
        font-size: size-mobile(16px);
        line-height: 1.38;
      }
    }
  }

  &__bussiness-rates-description {
    display: flex;
    justify-content: space-between;
    padding: size(14px) 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    @include tablet {
      padding: size-tablet(14px) 0;
    }

    @include mobile {
      flex-direction: column;
      padding: size-mobile(11px) 0;
    }
  }

  &__bussiness-rates-description:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }

  &__bussiness-rates-button {
    width: 100%;
    font-size: inherit;
    line-height: 1.08;
    font-weight: 700;
    color: $color-default-catalina-blue;
    background-color: $color-default-ghost-white;
    border: none;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: size(41px) size(40px) size(45px);
    cursor: pointer;

    @include tablet {
      font-size: size-tablet($fz-default);
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: size-tablet(41px) size-tablet(40px) size-tablet(45px);
    }

    @include mobile {
      font-size: size-mobile(16px);
      line-height: 1.5;
      text-transform: uppercase;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: size-mobile(21px);
    }

    &:hover,
    &:focus {
      background-color: $color-default-solitude;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }
  }

  &:has(.profile__bussiness-rates--opened) .profile__item {
    &::before {
      background-color: $color-default-solitude;
    }
  }
}
