.travelers {
  margin-top: size(-64px);

  @include max-tablet {
    position: relative;
    z-index: 4;
  }

  @include tablet {
    margin-top: size-tablet(-64px);
  }

  @include mobile {
    margin-top: size-mobile(-57px);
  }

  .container {
    padding: 0;
    background-color: $color-default-white;
    display: grid;
    grid-template-columns: size(72px) min-content size(103px) min-content;
    grid-template-rows: size(134px) min-content size(104px) min-content size(159px);

    @include max-tablet {
      display: flex;
      flex-direction: column;
      color: $color-default-white;
      background-color: $color-default-midnight-express;
    }

    @include tablet {
      padding: size-tablet(115px) size-tablet(40px) size-tablet(69px);
      border-bottom-right-radius: 61px;
      border-bottom-left-radius: 61px;
    }

    @include mobile {
      padding: size-mobile(81px) size-mobile(25px) size-mobile(40px);
      border-bottom-right-radius: 28px;
      border-bottom-left-radius: 28px;
    }
  }

  &__intro {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    p {
      width: size(515px);
      line-height: 1.38;
      margin: size(20px) 0 size(47px);

      @include tablet {
        width: unset;
        font-size: size-tablet(24px);
        line-height: 1.42;
        margin: size-tablet(20px) 0 size-tablet(74px);

        br {
          display: none;
        }
      }

      @include mobile {
        width: size-mobile(269px);
        font-size: size-mobile($fz-mobile);
        line-height: 1.57;
        font-weight: 400;
        margin: 0;
        margin-bottom: size-mobile(29px);
        margin-left: size-mobile(3px);
      }
    }

    span {
      font-family: $ff-extra;
      font-size: size(22px);
      line-height: 1.09;
      font-weight: 300;
      margin: 0;
      margin-top: size(33px);

      @include tablet {
        font-size: size-tablet(22px);
        margin-top: size-tablet(23px);
      }

      @include mobile {
        display: block;
        min-width: size-mobile(276px);
        font-size: size-mobile($fz-mobile);
        line-height: 1.57;
        margin-top: 0;
        margin-bottom: size-mobile(38px);
      }
    }

    @include tablet {
      margin-bottom: size-tablet(93px);
    }
  }

  &__title {
    font-size: size(95px);
    line-height: 1;
    font-variant-caps: all-small-caps;
    color: $color-default-midnight-express-3;
    margin: 0;
    margin-bottom: size(20px);

    @include tablet {
      font-size: size-tablet(95px);
      color: $color-default-white;
      margin-bottom: size-tablet(30px);
      margin-left: size-tablet(-2px);
    }

    @include mobile {
      font-size: size-mobile(50px);
      color: $color-default-white;
      margin-bottom: size-mobile(8px);
      margin-left: size-mobile(4px);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: $color-default-blue-zodiac;
    grid-column: 4 / 5;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: size(77px) min-content size(30px) min-content size(58px);
    grid-template-rows: size(133px) size(70px) min-content size(67px) size(111px);

    @include desktop {
      border-bottom-right-radius: 51px;
      border-bottom-left-radius: 51px;
    }

    @include max-tablet {
      display: flex;
      background-color: transparent;
      border-radius: 20px;
    }

    @include tablet {
      column-gap: size-tablet(116px);
      margin-bottom: size-tablet(77px);
      overflow: hidden;
    }

    @include mobile {
      flex-direction: column;
      column-gap: unset;
      row-gap: size-mobile(46px);
      margin-bottom: size-mobile(59px);
    }
  }

  &__item {
    width: size(285px);
    min-height: size(478px);
    border-radius: 20px;
    background-color: $color-default-white;
    display: grid;
    grid-template-columns: size(22px) min-content size(12px) min-content size(70px);
    grid-template-rows: size(20px) min-content size(173px) size(12px) min-content size(39px) min-content size(14px) min-content size(26px);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    @include tablet {
      width: size-tablet(285px);
      min-height: size-tablet(483px);
      grid-template-columns: size-tablet(22px) min-content size-tablet(12px) min-content size-tablet(70px);
      grid-template-rows: size-tablet(19px) min-content size-tablet(175px) size-tablet(12px) min-content size-tablet(39px) min-content size-tablet(18px) min-content size-tablet(23px);
      box-shadow: 0 0 10px 0 $color-default-white;
    }

    @include mobile {
      width: size-mobile(270px);
      grid-template-columns: size-mobile(17px) min-content size-mobile(15px) min-content size-mobile(63px);
      grid-template-rows: size-mobile(17px) min-content size-mobile(182px) size-mobile(13px) min-content size-mobile(13px) min-content size-mobile(14px) min-content size-mobile(23px);
      box-shadow: 0 0 10px 0 $color-default-white;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:hover,
    &:focus {
      box-shadow: 0 4px 20px 0 rgba(255, 254, 254, 0.5);
      transform: scale(1.01);
      transition: all 0.3s ease;
    }
  }

  &__item:nth-child(2n+1) {
    @include desktop {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
    }
  }

  &__item:nth-child(2n+2) {
    grid-template-rows: size(13px) min-content size(180px) size(10px) min-content size(39px) min-content size(14px) min-content size(26px);
    grid-column: 4 / 5;
    grid-row: 3 / 5;

    @include tablet {
      grid-template-rows: size-tablet(19px) min-content size-tablet(175px) size-tablet(12px) min-content size-tablet(39px) min-content size-tablet(18px) min-content size-tablet(23px);
    }

    @include mobile {
      grid-template-rows: size-mobile(17px) min-content size-mobile(180px) size-mobile(13px) min-content size-mobile(13px) min-content size-mobile(5px) min-content size-mobile(21px);
    }

    h3 {
      &::before {
        background-color: $color-default-lown-green;
      }

      @include tablet {
        margin-top: size-tablet(-26px);
      }

      @include mobile {
        margin-top: 0;
      }
    }

    p {
      @include tablet {
        margin-left: size-tablet(3px);
      }
    }
  }

  &__item-info {
    width: size(285px);
    padding-top: size(49px);
    background-color: $color-default-white;
    grid-column: 1 / -1;
    grid-row: 5 / 8;
    display: flex;
    flex-direction: column;
    row-gap: size(22px);
    align-items: center;
    position: relative;
    z-index: 1;
    top: size(-2px);

    @include tablet {
      width: size-tablet(285px);
      padding-top: size-tablet(40px);
      row-gap: size-tablet(22px);
      top: size-tablet(-2px);
      grid-row: 6 / 8;
    }

    @include mobile {
      width: size-mobile(270px);
      padding-top: size-mobile(27px);
      row-gap: size-mobile(15px);
      top: size-mobile(-2px);
      grid-row: 5 / 8;
    }

    h3 {
      max-width: size(240px);
      font-size: size($fz-default);
      line-height: 1;
      color: $color-default-catalina-blue;
      margin: 0 auto;
      display: flex;
      column-gap: size(14px);
      align-items: center;

      &::before {
        content: "";
        display: block;
        min-width: size(8px);
        height: size(8px);
        border-radius: 50%;

        @include tablet {
          min-width: size-tablet(8px);
          height: size-tablet(8px);
        }

        @include mobile {
          min-width: size-mobile(6px);
          height: size-mobile(6px);
        }
      }

      @include tablet {
        max-width: size-tablet(240px);
        font-size: size-tablet($fz-default);
        column-gap: size-tablet(14px);
        margin: 0;
        margin-top: size-tablet(-9px);
        margin-left: size-tablet(-23px);
      }

      @include mobile {
        max-width: size-mobile(230px);
        font-size: size-mobile(21px);
        column-gap: size-mobile(10px);
        margin: 0;
        margin-left: size-mobile(-16px);
      }
    }

    p {
      max-width: size(260px);
      font-size: size(20px);
      line-height: 1.15;
      font-weight: 400;
      text-align: center;
      color: $color-default-charcoal;
      margin: 0;

      @include tablet {
        max-width: size-tablet(260px);
        font-size: size-tablet(20px);
      }

      @include mobile {
        max-width: size-mobile(230px);
        font-size: size-mobile(16px);
        line-height: 1.13;
        margin-left: size-mobile(7px);
      }
    }
  }

  &__item:nth-child(2n+1) &__item-info {
    @include tablet {
      top: size-tablet(5px);
    }
  }

  &__item:nth-child(2n+2) &__item-info {
    @include desktop {
      p {
        margin-left: size(15px);
      }
    }

    @include tablet {
      padding-top: size-tablet(50px);
    }
  }

  &__item:nth-child(2n+1) h3 {
    &::before {
      background-color: $color-default-salmon;
    }
  }

  &__item-level {
    width: size(60px);
    height: size(60px);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: size(17px) min-content min-content size(15px);
    grid-template-rows: size(15px) min-content min-content size(9px);
    position: relative;
    z-index: 1;

    @include tablet {
      width: size-tablet(60px);
      height: size-tablet(60px);
      grid-template-columns: size-tablet(17px) min-content min-content size-tablet(15px);
      grid-template-rows: size-tablet(15px) min-content min-content size-tablet(9px);
    }

    @include mobile {
      width: size-mobile(60px);
      height: size-mobile(60px);
      grid-template-columns: size-mobile(17px) min-content min-content size-mobile(15px);
      grid-template-rows: size-mobile(15px) min-content min-content size-mobile(9px);
    }

    h3 {
      display: none;
    }

    p {
      line-height: 1;
      color: $color-default-white;
      text-decoration: underline;
      text-decoration-color: rgba(255, 255, 255, 0.3);
      margin: 0;
      grid-column: 2 / 3;
      grid-row: 2 / 3;

      @include tablet {
        font-size: size-tablet($fz-default);
      }

      @include mobile {
        font-size: size-mobile($fz-default);
      }
    }

    span {
      font-size: size(14px);
      line-height: 1;
      font-weight: 400;
      color: $color-default-white;
      grid-column: 2 / 3;
      grid-row: 3 / 4;

      @include tablet {
        font-size: size-tablet(14px);
      }

      @include mobile {
        font-size: size-mobile(14px);
        margin-left: size-mobile(-2px);
      }
    }

    svg {
      width: size(68px);
      height: size(72px);
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      justify-self: center;
      align-self: center;
      margin-top: size(-5px);
      margin-left: size(-5px);

      @include tablet {
        width: size-tablet(68px);
        height: size-tablet(72px);
        margin-top: size-tablet(-6px);
        margin-left: size-tablet(-4px);
      }

      @include mobile {
        width: size-mobile(68px);
        height: size-mobile(72px);
        margin-top: size-mobile(-6px);
        margin-left: size-mobile(-4px);
      }

      circle {
        stroke: $color-default-picton-blue;
        stroke-width: 3;
        stroke-dashoffset: 24;
        stroke-dasharray: var(--percent), calc(100 - var(--percent));
        stroke-linecap: round;
      }
    }
  }

  &__item:nth-child(2n+1) &__item-level {
    svg {
      --percent: 94;
    }
  }

  &__item:nth-child(2n+2) &__item-level {
    svg {
      --percent: 80;
    }
  }

  &__item-image {
    grid-column: 1 / -1;
    grid-row: 1 / 6;
    position: relative;
    z-index: 0;
  }

  &__item:nth-child(2n+1) &__item-image {
    width: size(285px);
    height: size(286px);

    img {
      width: size(285px);
      height: size(286px);
    }

    @include tablet {
      width: size-tablet(285px);
      height: size-tablet(293px);
      grid-row: 1 / 7;

      img {
        width: size-tablet(293px);
        height: size-tablet(293px);
      }
    }

    @include mobile {
      width: size-mobile(270px);
      height: size-mobile(282px);

      img {
        width: size-mobile(270px);
        height: size-mobile(282px);
      }
    }
  }

  &__item:nth-child(2n+2) &__item-image {
    width: size(293px);
    height: size(289px);
    position: absolute;
    top: size(-2px);
    left: size(-4px);

    img {
      width: size(293px);
      height: size(289px);
    }

    @include tablet {
      width: size-tablet(293px);
      height: size-tablet(293px);
      position: relative;
      top: size-tablet(-2px);
      left: size-tablet(-4px);

      img {
        width: size-tablet(293px);
        height: size-tablet(293px);
      }
    }

    @include mobile {
      width: size-mobile(278px);
      height: size-mobile(278px);
      top: size-mobile(-2px);
      left: size-mobile(-4px);

      img {
        width: size-mobile(278px);
        height: size-mobile(278px);
      }
    }
  }

  &__item-icons {
    grid-column: 2 / 5;
    grid-row: 9 / 10;

    h4 {
      display: none;
    }
  }

  &__item-icons-wrapper {
    display: flex;
    justify-content: center;
    column-gap: size(8px);
    margin-left: size(48px);

    @include tablet {
      column-gap: size-tablet(8px);
      margin-top: size-tablet(6px);
      margin-left: size-tablet(46px);
      align-items: flex-end;
    }

    @include mobile {
      column-gap: size-mobile(9px);
      margin-top: size-mobile(-3px);
      margin-left: size-mobile(43px);
      align-items: center;
    }
  }

  &__item:nth-child(2n+1) &_item-icons-wrapper {
    @include tablet {
      margin-top: size-tablet(10px);
    }
  }

  &__item:nth-child(2n+2) &__item-icons-wrapper {
    margin-top: size(6px);
    margin-left: size(60px);

    @include tablet {
      margin-top: 0;
      margin-left: size-tablet(41px);
    }

    @include mobile {
      margin-top: size-mobile(5px);
      margin-left: size-mobile(45px);
    }
  }

  &__item-icon-wrapper {
    position: relative;
    cursor: pointer;

    svg {
      color: currentColor;
    }

    &:hover {
      .travelers__item-tooltip {
        display: block;
      }
    }

    @include mobile {
      &:active {
        .travelers__item-tooltip {
          display: block;
        }
      }
    }
  }

  &__item-flag-text {
    position: fixed;
    transform: scale(0);
  }

  &__item-tooltip {
    display: none;
  }

  &__item-tooltip,
  &__item-flag-tooltip {
    font-size: size(20px);
    line-height: 1;
    font-weight: 400;
    color: $color-default-white;
    background-color: $color-default-midnight-express-3;
    border-radius: 4px;
    padding: size(18px) size(14px);
    position: absolute;
    top: size(40px);
    z-index: 5;

    @include tablet {
      font-size: size-tablet(20px);
      padding: size-tablet(15px);
      top: size-tablet(-65px);
    }

    @include mobile {
      font-size: size-mobile($fz-mobile);
      padding: size-mobile(10px);
      top: size-mobile(32px);
    }
  }

  &__item-tooltip-icon,
  &__item-flag-tooltip-icon {
    color: $color-default-midnight-express-3;

    svg {
      width: size(16px);
      height: size(10px);
      transform: translateX(-50%) rotate(180deg);
      position: absolute;
      top: size(-7px);
      left: 50%;

      @include tablet {
        width: size-tablet(16px);
        height: size-tablet(10px);
        transform: translateX(-50%) rotate(360deg);
        top: size-tablet(47px);
      }

      @include mobile {
        width: size-mobile(16px);
        height: size-mobile(10px);
        top: size-mobile(-7px);
      }
    }
  }

  &__item-icon-wrapper--plane &__item-tooltip {
    left: size(-62px);

    @include tablet {
      left: size-tablet(-64px);
    }

    @include mobile {
      left: size-mobile(-42px);
    }
  }

  &__item-icon-wrapper--bus &__item-tooltip {
    left: size(-76px);

    @include tablet {
      left: size-tablet(-76px);
    }

    @include mobile {
      left: size-mobile(-51px);
    }
  }

  &__item-icon-wrapper--bicycle &__item-tooltip {
    left: size(-53px);

    @include tablet {
      left: size-tablet(-53px);
    }

    @include mobile {
      left: size-mobile(-34px);
    }
  }

  &__item-icon-wrapper--run &__item-tooltip {
    left: size(-42px);

    @include tablet {
      left: size-tablet(-42px);
    }

    @include mobile {
      left: size-mobile(-27px);
    }
  }

  &__item &__item-icon-wrapper--plane {
    margin-right: size(6px);

    @include tablet {
      margin-right: size-tablet(7px);
    }

    @include mobile {
      margin-right: size-mobile(6px);
    }
  }

  &__item &__item-icon-wrapper--bus {
    margin-right: size(5px);

    @include tablet {
      margin-right: size-tablet(5px);
    }

    @include mobile {
      margin-right: size-mobile(3px);
    }
  }

  &__item:nth-child(2n+1) &__item-icon-wrapper--plane {
    color: $color-default-midnight-express;
  }

  &__item:nth-child(2n+1) &__item-icon-wrapper--bicycle,
  &__item:nth-child(2n+1) &__item-icon-wrapper--run {
    margin-top: size(2px);

    @include tablet {
      margin-top: size-tablet(3px);
    }

    @include mobile {
      margin-bottom: size-mobile(-2px);
    }
  }

  &__item:nth-child(2n+1) &__item-icon-wrapper:not(.travelers__item-icon-wrapper--plane) {
    color: rgba(29, 46, 91, 0.15);
  }

  &__item:nth-child(2n+2):not(.travelers__item-icon-wrapper--bicycle) {
    color: $color-default-midnight-express;
  }

  &__item:nth-child(2n+2) &__item-icon-wrapper--bicycle {
    color: rgba(29, 46, 91, 0.15);
  }

  &__item:nth-child(2n+2) &__item-icon-wrapper--bus {
    margin-right: size(9px);
  }

  &__item:nth-child(2n+2) &__item-icon-wrapper--bicycle,
  &__item:nth-child(2n+2) &__item-icon-wrapper--run {
    margin-top: size(3px);
  }

  &__item-icon-wrapper--plane &__item-icon {
    width: size(23px);
    height: size(22px);

    @include tablet {
      width: size-tablet(23px);
      height: size-tablet(22px);
    }

    @include mobile {
      width: size-mobile(21px);
      height: size-mobile(21px);
    }

    svg {
      width: size(23px);
      height: size(22px);

      @include tablet {
        width: size-tablet(23px);
        height: size-tablet(22px);
      }

      @include mobile {
        width: size-mobile(21px);
        height: size-mobile(21px);
      }
    }
  }

  &__item-icon-wrapper--bus &__item-icon {
    width: size(18px);
    height: size(20px);

    @include tablet {
      width: size-tablet(18px);
      height: size-tablet(20px);
    }

    @include mobile {
      width: size-mobile(17px);
      height: size-mobile(19px);
    }

    svg {
      width: size(18px);
      height: size(20px);

      @include tablet {
        width: size-tablet(18px);
        height: size-tablet(20px);
      }

      @include mobile {
        width: size-mobile(17px);
        height: size-mobile(19px);
      }
    }
  }

  &__item-icon-wrapper--bicycle &__item-icon {
    width: size(25px);
    height: size(25px);

    @include tablet {
      width: size-tablet(25px);
      height: size-tablet(25px);
    }

    @include mobile {
      width: size-mobile(24px);
      height: size-mobile(24px);
    }

    svg {
      width: size(25px);
      height: size(25px);

      @include tablet {
        width: size-tablet(25px);
        height: size-tablet(25px);
      }

      @include mobile {
        width: size-mobile(24px);
        height: size-mobile(24px);
      }
    }
  }

  &__item-icon-wrapper--run &__item-icon {
    width: size(22px);
    height: size(24px);

    @include tablet {
      width: size-tablet(22px);
      height: size-tablet(24px);
    }

    @include mobile {
      width: size-mobile(21px);
      height: size-mobile(23px);
    }

    svg {
      width: size(22px);
      height: size(24px);

      @include tablet {
        width: size-tablet(22px);
        height: size-tablet(24px);
      }

      @include mobile {
        width: size-mobile(21px);
        height: size-mobile(23px);
      }
    }
  }

  &__item-flags-wrapper {
    display: flex;
    column-gap: size(20px);
    grid-column: 2 / 5;
    grid-row: 4 / 6;
    justify-self: center;
    position: relative;
    z-index: 1;
    top: size(-3px);
    left: size(23px);

    @include tablet {
      column-gap: size-tablet(20px);
    }

    @include mobile {
      column-gap: size-mobile(20px);
    }
  }

  &__item-flag-wrapper {
    position: relative;
    cursor: pointer;

    &:hover {
      .travelers__item-flag-tooltip {
        display: block;
      }
    }

    @include mobile {
      &:active {
        .travelers__item-flag-tooltip {
          display: block;
        }
      }
    }
  }

  &__item-flag-wrapper &__item-flag-tooltip {
    display: none;
  }

  &__item:nth-child(2n+1) &__item-flag-wrapper:first-child &__item-flag-tooltip {
    left: size(-50px);

    @include tablet {
      left: size-tablet(-52px);
    }

    @include mobile {
      left: size-mobile(-29px);
    }
  }

  &__item:nth-child(2n+1) &__item-flag-wrapper:nth-child(2n) &__item-flag-tooltip {
    left: size(-37px);

    @include tablet {
      left: size-tablet(-39px);
    }

    @include mobile {
      left: size-mobile(-19px);
    }
  }

  &__item:nth-child(2n+1) &__item-flag-wrapper:nth-child(3n) &__item-flag-tooltip {
    left: size(-42px);

    @include tablet {
      left: size-tablet(-44px);
    }

    @include mobile {
      left: size-mobile(-24px);
    }
  }

  &__item:nth-child(2n+2) &__item-flag-wrapper:first-child &__item-flag-tooltip {
    left: size(-34px);

    @include tablet {
      left: size-tablet(-36px);
    }

    @include mobile {
      left: size-mobile(-19px);
    }
  }

  &__item:nth-child(2n+2) &__item-flag-wrapper:nth-child(2n) &__item-flag-tooltip {
    left: size(-24px);

    @include tablet {
      left: size-tablet(-26px);
    }

    @include mobile {
      left: size-mobile(-12px);
    }
  }

  &__item-flag-tooltip {
    width: max-content;
  }

  &__item:nth-child(2n+1) &__item-flags-wrapper {
    @include tablet {
      top: size-tablet(19px);
      left: size-tablet(25px);
    }

    @include mobile {
      top: size-mobile(1px);
      left: size-mobile(21px);
    }
  }

  &__item:nth-child(2n+2) &__item-flags-wrapper {
    @include tablet {
      top: size-tablet(11px);
      left: size-tablet(21px);
    }

    @include mobile {
      top: 0;
      left: size-mobile(23px);
    }
  }

  &__buttons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: size(10px);
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    @include tablet {
      align-self: center;
      margin-left: size-tablet(-4px);
    }
  }

  &__button {
    width: size(294px);
    font-size: size($fz-default);
    padding: size(29px) size(38px) size(27px) size(37px);

    @include tablet {
      width: size-tablet(616px);
      font-size: size-tablet($fz-default);
      padding: size-tablet(28px) size-tablet(19px) size-tablet(28px) size-tablet(32px);
    }

    @include mobile {
      width: size-mobile(270px);
      font-size: size-mobile(18px);
      line-height: 1;
      padding: size-mobile(22px) size-mobile(23px) size-mobile(21px);
      border-radius: 10px;
    }
  }
}
