@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-200.woff2") format("woff2"), url("../fonts/roboto-200.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-300.woff2") format("woff2"), url("../fonts/roboto-300.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-400.woff2") format("woff2"), url("../fonts/roboto-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-500.woff2") format("woff2"), url("../fonts/roboto-500.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto-700.woff2") format("woff2"), url("../fonts/roboto-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed-300.woff2") format("woff2"), url("../fonts/roboto-condensed-300.woff") format("woff");
}
