// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-default-midnight-express:    #161c35;
$color-default-catalina-blue:       #1d2e5b;
$color-default-midnight-express-3:  #192144;
$color-default-midnight-express-2:  #272b3b;
$color-default-blue-zodiac:         #3f4251;
$color-default-endeavour:           #335d8d;
$color-default-charcoal:            #444444;
$color-default-picton-blue:         #4d99d6;
$color-default-chambray:            #516172;
$color-default-jordy-blue:          #7ebaeb;
$color-default-lown-green:          #81e31e;
$color-default-pale-cornflower-blue: #a8d2f4;
$color-default-link-water:          #cbced9;
$color-default-pattens-blue:        #cce5fa;
$color-default-hawkes-blue:         #d6daed;
$color-default-solitude:            #edeff6;
$color-default-solitude-2:          #e1e3e9;
$color-default-lavander:            #e2e5f2;
$color-default-white-smoke:         #f2f2f2;
$color-default-ghost-white:         #f3f4f8;
$color-default-salmon:              #f97676;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-accent-main: #2c39f2;
$color-accent-second: #212121;
$color-back-tablet-header: #516172;
$color-feedback-hover: #468ac1;
$color-interesting-active: #b8cde0;
$color-heart-default: #f02323;
$color-likes-default: #f9eaea;
$color-likes-hover: #f9d8d8;
$color-tablet-line: #f3c72b;
$color-level-circle: #ff8d30;
$color-close-button-hover: #c8cee8;
$color-level-hover: #959bb2;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        24px;
$fz-mobile:                         14px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-default:                         "Roboto", "Arial", sans-serif;
$ff-extra:                           "Roboto Condensed", "Arial", sans-serif;

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------


$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
